@import "../../style/index.scss";

$content-max-width: 700px;

.create-service-wizard-layout {
  display: flex;
  flex: 1;
  background: var(--surface);
  justify-content: center;
  align-items: center;

  &__wrapper {
    max-width: $content-max-width;
    margin: auto;
  }

  &__split {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

    background: var(--surface);
  }

  &__right,
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
  }

  &__description {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;

    &__header {
      @include title-24;
      font-size: 1.5em;
      line-height: 1.5em;
      margin-bottom: var(--large-spacing);
    }

    &__text {
      @include regular-14;
      font-size: 1em;
      line-height: 1.5em;
      white-space: pre-line;
    }

    &__paragraph {
      @include regular-14;
    }
  }

  &__selector_wrapper {
    display: flex;
    gap: var(--large-spacing);
    justify-content: center;
    margin-top: var(--double-spacing);
    margin-bottom: var(--double-spacing);
    flex-wrap: wrap;
  }

  &__content_wrapper {
    text-align: left;
    .text-input input,
    .text-input textarea {
      max-width: none;
    }
  }
}
