@import "../../style/index.scss";

.create-service-wizard {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__splitWrapper {
    display: flex;
    height: 100%;
  }

  &__left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--black2);
  }

  &__right {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 66%;

    .circle-badge i {
      color: var(--black5);
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 26px;
    background: var(--black10);

    label {
      font-weight: 400;
      letter-spacing: 0em;
    }
  }

  .amp-button--clear[disabled] {
    color: var(--black40);
    border: 1px solid var(--black40);
    padding: 5px 6px;
    height: 28px;
    left: 16px;
  }
  .amp-icon--size-small {
    font-size: 12px;
  }
  .amp-button--primary {
    right: 16px;
    height: 28px;
  }
}
