@import "../style/index.scss";

.app-control-toolbar {
  height: var(--header-height);
  background-color: var(--white);
  box-shadow: var(--default-box-shadow);
  padding: var(--default-spacing);
  box-sizing: border-box;
  @include flexFullRow;
  justify-content: space-between;
  > * {
    margin-left: var(--default-spacing);

    &:first-child {
      margin-left: 0;
    }
  }
  &__divider {
    border: $border-black10;
    display: inline-block;
    height: 100%;
  }
  &__publish {
    background-color: var(--black90);
  }
}
