@import "../style/index.scss";

.app-control-toolbar {
  height: var(--header-height);
  background-color: var(--white);
  box-shadow: var(--floating-box-shadow);
  padding: var(--default-spacing);
  box-sizing: border-box;
  @include flexFullRow;
  justify-content: space-between;
  border: $border-black10;
  border-top: none;
  border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);

  @include stickRight($page-content-max-width);
  top: 0;
  z-index: $app-control-toolbar-z-index;

  > * {
    margin-left: var(--default-spacing);

    &:first-child {
      margin-left: 0;
    }
  }
  &__divider {
    border: $border-black10;
    display: inline-block;
    height: 100%;
  }
  &__publish {
    background-color: var(--black90);
  }
}
