@import "../style/index.scss";

$icon-size: 20px;

.build-page {
  .build-steps__step {
    @include whiteListItem;
    i {
      font-size: $icon-size;
    }
  }
  h1 {
    margin-bottom: var(--double-spacing);

    .truncated-id {
      @include semiBold;
    }
  }
  .commit-header {
    @include whiteListItem;
    height: auto;
    margin-bottom: var(--triple-spacing);
    h1 {
      @include sectionTitle;
      margin-bottom: 0;
      .clickable-id {
        @include sectionTitle;
      }
    }
  }
}
