@import "../style/index.scss";

.build-list {
  @include body2;
  margin-top: calc(var(--large-spacing) * 2);

  &__build {
    margin-left: 0;
  }
  &__message {
    color: var(--black60);
    margin-bottom: var(--default-spacing-small);
  }
  &__status {
    @include flexFullRowWithSpacing;
    justify-content: flex-start;
    color: var(--black80);
    @include bold;
  }
  &__actions {
    @include flexFullRowWithSpacing;
    justify-content: flex-end;
  }
}
