@import "../style/index.scss";

$log-line-number-width: 30px;
$log-bottom: 30px;

.build-page {
  .build-steps__step {
    background: var(--white);
    border-radius: var(--default-border-radius);
    border: none;
    box-sizing: border-box;
    padding: var(--default-spacing) var(--large-spacing);
    margin-bottom: var(--default-spacing);
  }
  h1 {
    margin-bottom: var(--double-spacing);

    .truncated-id {
      color: var(--primary);
    }
  }
}
