@import "../style/index.scss";
$step-status-width: 25px;
$step-min-height: 32px;
.build-steps {
  &__step {
    @include flexFullRowWithSpacing;
    justify-content: flex-start;
    color: var(--black100);
    min-height: $step-min-height;

    i {
      color: var(--black80);
    }
    &__status {
      width: $step-status-width;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-weight: bold;
      }
      &--success {
        i {
          color: var(--positive-default);
        }
      }

      &--failed {
        i {
          color: var(--negative);
        }
      }
      &--waiting {
        i {
          color: var(--black20);
        }
      }

      &--running {
        .rmwc-circular-progress {
          color: var(--primary);
        }
      }
    }
    /**@todo: remove after adding endpoint to download container   */
    .hidden {
      visibility: hidden;
    }
  }
}
