@import "../style/index.scss";

.builds-page {
  &__split {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: stretch;

    &__left {
      flex: 1;
      padding-right: var(--default-spacing);
    }

    &__right {
      flex: 1;
      padding-left: var(--default-spacing);
    }
  }
  &__logs {
    background-color: var(--black100);
    border-radius: var(--default-border-radius);
    height: 80vh;
  }
}
