@import "../style/index.scss";

.build-header {
  margin-top: var(--default-spacing);
  margin-bottom: var(--default-spacing);
  padding-top: var(--default-spacing);
  @include flexFullRowWithSpacing;
  @include body2;
  @include semiBold;
  a {
    color: var(--black100);
  }

  border-top: $border-black10;
  width: 100%;

  &--deployed {
    h3,
    h3 span {
      @include semiBold;
      color: var(--positive-default);
    }
    i {
      font-size: 24px;
      color: var(--positive-default);
    }
    a i {
      color: var(--black40);
    }
  }
}
