@import "../style/index.scss";
$step-status-width: 25px;
$step-min-height: 32px;
.build-summary {
  display: flex;
  flex-direction: row-reverse;

  .amp-button {
    width: 100%;
  }

  &__download {
    display: flex;
    flex-direction: row-reverse;
    > * {
      margin-left: var(--default-spacing);
    }
  }

  &__open-github {
    display: block;
  }
  &__sandbox {
    @include flexFullRowWithSpacing;
    justify-content: flex-start;
    align-items: center;
    color: var(--black60);
  }

  &__message {
    @include flexFullRowWithSpacing;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--black60);
    margin-bottom: var(--default-spacing);
  }
}
