@import "../style/index.scss";

$log-line-number-width: 30px;
$log-bottom: 30px;

.builds-page {
  &__split {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: stretch;

    @media only screen and (max-width: #{$breakpoint-tablet}) {
      flex-direction: column;
      align-items: stretch;
    }

    &__left {
      flex: 1;
      padding-right: var(--default-spacing);
    }

    &__right {
      flex: 1;
      padding-left: var(--default-spacing);

      &__sticky {
        @include stickRight($page-content-max-width);
        box-sizing: border-box;
        width: calc(
          ((100vw - (var(--default-page-padding) * 2)) / 2) -
            var(--default-spacing)
        );
        padding-left: var(--default-spacing);
        bottom: $log-bottom;
        top: calc(var(--header-height) + var(--header-spacing));

        @media only screen and (min-width: #{$page-content-max-width}) {
          width: $page-content-max-width / 2;
        }

        @media only screen and (max-width: #{$breakpoint-tablet}) {
          position: relative;
          width: 100%;
          margin: var(--default-spacing);
        }
      }
    }
  }
}
