@import "../style/index.scss";

$log-line-number-width: 30px;
$log-bottom: 30px;

.commit-page {
  &__header {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--default-spacing);

    h1 {
      .truncated-id {
        @include semiBold;
      }
    }
  }
  &__sub-header {
    margin-bottom: var(--double-spacing);
  }
  &__message {
    margin-left: var(--default-spacing);
  }

  .pending-change-with-compare {
    margin-left: 0;
    margin-right: 0;
  }
}
