@import "../style/index.scss";
$metadata-width: 180px;

.commit-data {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__metadata {
    display: flex;
    flex-direction: column;
    width: $metadata-width;
    margin: 0 var(--user-badge-spacing);

    &__message {
      @include regular-12;
      color: var(--black100);
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__created {
      @include regular-10;
      color: var(--black80);
    }
  }

  .user-avatar {
    margin-left: 8px;
    margin-right: 8px;
  }
}
