@import "../style/index.scss";

.commit-page {
  &__header {
    color: var(--black80);

    @include flexFullRowWithSpacing;
    align-items: center;

    .truncated-id {
      @include semiBold;
      color: var(--black100);
    }

    .clickable-id {
      color: var(--black80);
      a {
        color: var(--black100);
      }
    }
  }
  &__commit-message {
    margin-bottom: var(--double-spacing);
    color: var(--black80);
  }

  .pending-change-with-compare {
    margin-left: 0;
    margin-right: 0;
  }
}
