@import "../style/index.scss";

.commit-page {
  .commit-header {
    margin-bottom: var(--triple-spacing);

    .truncated-id {
      @include semiBold;
    }
  }
  .pending-change-with-compare {
    margin-left: 0;
    margin-right: 0;
  }
  .build-header {
    @include whiteListItem;
    height: auto;
    margin-bottom: var(--triple-spacing);
    .clickable-id {
      @include sectionTitle;
    }
  }
}
