@import "../style/index.scss";

.build-status-icon {
  display: flex;
  align-items: center;

  &__status {
    display: flex;
    justify-content: center;
    align-items: center;

    .amp-icon {
      color: var(--gray-20);
      font-size: var(--icon-font-size);
    }
  }

  &--completed {
    i {
      color: var(--theme-green) !important;
    }
  }

  &--failed {
    i {
      color: var(--theme-red) !important;
    }
  }

  &--running {
    i {
      color: var(--gray-60) !important;
    }
  }
}
