@import "../style/index.scss";

.commit-validation {
  margin-bottom: var(--default-spacing);
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .amp-icon {
      color: var(--theme-light-red);
      margin-right: var(--default-spacing);
    }

    a {
      display: block;
      color: var(--gray-base);
    }
    color: var(--gray-10);
  }
}
