@import "../style/index.scss";

.commit {
  padding-top: 0;
  margin-bottom: var(--default-spacing);

  .amp-button {
    margin-top: var(--large-spacing);
    width: 100%;
  }

  .text-input {
    label {
      margin-bottom: 0;
    }

    textarea {
      height: var(--textarea-height);
      background-color: var(--black5);
    }
  }
}
