@import "../style/index.scss";

.commit-list-item {
  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__metadata {
    display: flex;
    flex-direction: column;
    width: 130px;
    padding: 0 10px;
  }

  &__row {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--default-spacing);

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    @include body1;
    color: var(--black100);

    a {
      color: var(--black100) !important;
    }
  }
  &__description {
    @include body2;
    color: var(--black80);
  }

  &__build {
    color: var(--black80);

    a {
      color: var(--black100) !important;
    }
  }

  &__property {
    color: var(--positive-default);
    border: 1px solid var(--positive-default);
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--default-spacing);
    background-color: rgba(49, 197, 135, 0.09);
    .amp-icon {
      margin-right: var(--default-spacing);
    }
  }

  &__highlight {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--secondary);

    .amp-icon {
      margin-right: var(--default-spacing);
    }
  }
}
