@import "../style/index.scss";

.commit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--default-spacing);

  > * {
    margin-bottom: var(--large-spacing);
  }
  &__instructions {
    @include body2;
    color: var(--black100);
    margin-bottom: var(--double-spacing);
  }

  form {
    width: 100%;
  }
  .amp-button {
    margin-top: var(--double-spacing);
    margin-bottom: 0;
  }
}
