@import "../style/index.scss";
$metadata-width: 150px;

.commit-data {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__metadata {
    display: flex;
    flex-direction: column;
    width: $metadata-width;
    margin: 0 var(--user-badge-spacing);

    &__message {
      @include regular-12;
      color: var(--black100);
    }

    &__created {
      @include regular-10;
      color: var(--black80);
    }
  }
}
