@import "../style/index.scss";

.discard-changes {
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--default-spacing);
  }
  &__instructions {
    @include body2;
    padding-bottom: var(--default-spacing);
  }
  &__buttons {
    @include flexFullRowWithSpacing;
    margin-top: var(--large-spacing);
  }
}
