@import "../style/index.scss";

.dotnet-promote-options {
  width: 100%;

  &__cta {
    margin-top: var(--double-spacing);
    margin-bottom: var(--double-spacing);
  }

  &__type-title {
    margin-top: var(--double-spacing);
    margin-bottom: var(--double-spacing);
  }

  &__demo {
    margin: var(--double-spacing) 0;
  }
}
