@import "../style/index.scss";

$margin-top: 50px;

.dotnet-promote-options {
  display: flex;
  flex-direction: column;

  margin-top: $margin-top;
  color: white;

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--icon-spacing);
  }

  a.mail-link {
    color: var(--primary);
    text-decoration: underline;
  }

  span.bold {
    font-weight: 600;
  }
}
