@import "../style/index.scss";

.last-commit {
  @include flexFullRowWithSpacing;
  height: var(--app-footer-height);
  white-space: nowrap;
  padding: 0 var(--default-spacing);

  &__generating {
    background: var(--primary);
    .rmwc-circular-progress {
      color: var(--static-white);
    }
  }

  .clickable-id {
    color: var(--black80);
    a {
      color: var(--black100);
    }
  }

  .build-header {
    margin-left: var(--double-spacing);
  }

  &__message {
    color: var(--black60);
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > * {
      margin-right: var(--default-spacing);
    }
  }
}
