@import "../style/index.scss";

.last-commit {
  margin-top: auto;

  &__title {
    font-size: 14px;
    margin: 0;
  }

  &__divider {
    border: $border-black5;
    margin: var(--form-field-spacing) 0;
  }

  &__skeleton {
    margin: var(--form-field-spacing) 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 var(--default-spacing);
  }

  .clickable-id {
    color: var(--black80);
    a {
      color: var(--black100);
    }
  }
  .user-and-time {
    margin-left: var(--default-spacing-small);
  }

  .build-summary {
    margin-left: auto;
  }

  .build-header {
    margin-left: var(--double-spacing);
  }

  &__message {
    color: var(--black60);
  }

  .amp-button.amp-button--secondary {
    width: 100%;
  }
}
