@import "../style/index.scss";

.next-build {
  margin-top: 0;
  margin-left: 0;

  &__details {
    @include flexFullRow;
    @include body2;
    @include bold;
  }
  &__changes {
    @include body2;
    color: var(--black60);
  }
}
