@import "../style/index.scss";

$resource-name-max-width: 180px;

.pending-changes-list {
  flex-grow: 1;
  flex-basis: 0px;
  overflow-y: auto;
  @include scrollbars($default-scroll-width, var(--gray-30), transparent);

  &__changes__resource {
    @include bold-12;
    margin-bottom: var(--medium-spacing);
    margin-top: var(--medium-spacing);
    max-width: $resource-name-max-width;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    .circle-badge {
      margin-right: var(--user-badge-spacing);
    }
  }
}
