@import "../style/index.scss";

$empty-state-image-size: 120px;

.pending-changes {
  padding: var(--default-spacing);

  &__header {
    @include flexFullRowWithSpacing;
    h3 {
      margin: 0;
    }
  }

  &__empty-state {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    img {
      height: $empty-state-image-size;
    }

    &__title {
      @include body2;
      text-align: center;
      margin-bottom: var(--large-spacing);
    }
  }

  &__changes {
    margin-top: var(--default-spacing);
    position: relative;
    margin-bottom: var(--default-spacing);

    &__view-details {
      margin-bottom: var(--default-spacing);
      display: block;
      text-align: right;
    }
  }
}

.commit-dialog {
  .amp-dialog__body {
    .amp-button {
      width: 100%;
    }
  }
}
