@import "../style/index.scss";

$empty-state-image-size: 120px;
$counter-height: 18px;

.pending-changes {
  padding: var(--default-spacing);
  display: flex;
  flex-direction: column;
  height: calc(100% - 200px);

  &__divider {
    border: 1px solid var(--black5);
    width: 99%;
    margin-top: auto;
  }

  &__header {
    @include flexFullRowWithSpacing;
    h3 {
      margin: 0;
    }
  }

  &__changes-header {
    @include flexFullRowWithSpacing;
    @include body2;

    :first-child {
      color: var(--black100);
    }

    :last-child {
      margin-left: 0;
    }
    .amp-button {
      margin-left: 0;
    }
  }

  %__changes-count {
    height: $counter-height;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
    width: auto;
    margin-left: var(--default-spacing-small);
    min-width: $counter-height;
  }

  &__changes-count-warning {
    @extend %__changes-count;
    color: var(--warning-default);
  }

  &__changes-count {
    @extend %__changes-count;
    background-color: var(--black5);
    color: var(--black100);
  }

  &__empty-state {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    img {
      height: $empty-state-image-size;
    }

    &__title {
      @include body2;
      text-align: center;
      margin-bottom: var(--large-spacing);
    }
  }

  &__changes-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black10);
    padding: var(--default-spacing);
    border-radius: var(--small-border-radius);
    height: 100%;
  }

  &__changes {
    margin-top: var(--default-spacing);
    position: relative;
    margin-bottom: var(--default-spacing);

    &__resource {
      margin-bottom: var(--double-spacing);
      .circle-badge {
        margin-right: var(--default-spacing);
      }
    }
  }

  .amp-button__icon {
    color: var(--black100);
    font-size: var(--icon-font-size);
    cursor: pointer;
  }
}

.commit-dialog {
  .amp-dialog__body {
    .amp-button {
      width: 100%;
    }
  }
}
