@import "../style/index.scss";

$before-spacing-left: 10px;
$before-spacing: -6px;

.pending-change {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: var(--default-spacing);
  position: relative;
  @include flexFullRow;

  &:last-child {
    margin-bottom: var(--double-spacing);
  }

  &__spacer {
    flex: 1;
  }
  &__action {
    height: var(--medium-spacing);
    width: var(--medium-spacing);
    font-size: var(--text-field-label-font-size);
    min-width: var(--double-spacing);
    min-height: var(--double-spacing);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--static-white);
    margin-bottom: 0;
    margin-left: var(--double-spacing);
    margin-right: var(--default-spacing);

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: $before-spacing-left;
      border-right: 1px solid var(--black30);
      top: $before-spacing;
      bottom: $before-spacing;
    }

    &.update {
      background-color: var(--secondary-light-blue);
    }
    &.delete {
      background-color: var(--negative);
    }
    &.create {
      background-color: var(--positive-default);
    }
  }
  &__version {
    font-weight: 500;
  }
  &__tooltip_deleted:after {
    border: 1px solid var(--negative);
    background-color: var(--black10);
    color: var(--black100);
  }
  &__deleted {
    color: var(--black80);
    cursor: pointer;
  }
  .tooltipped-ne:before {
    border-top-color: var(--negative) !important;
  }
}
