@import "../style/index.scss";

.pending-changes-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  .build {
    border-top: $border-black10;
    margin: 0;
  }
  &__counter {
    @include counterBadge;
  }

  .build-header {
    margin-top: var(--double-spacing);
    margin-bottom: var(--default-spacing);
    padding-top: var(--double-spacing);
    border-top: $border-black10;
  }
}
