@import "../../style/index.scss";

.code-generator-version {
  margin-top: var(--default-spacing);

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--large-spacing);

    h3 {
      margin: 0;
      margin-bottom: var(--default-spacing);
      @include title-18();
    }
    .amp-panel {
      margin-left: 0;
    }
  }
}
