@import "../../style/index.scss";

.code-generator-version-form {
  .toggle-field {
    span {
      @include regular-12();
    }

    &--with-label {
      margin-bottom: 0;
    }

    .input-label {
      margin-right: var(--icon-spacing);
    }
  }

  .select-field {
    margin: var(--double-spacing) 0;
  }

  &__latest-minor {
    @include body2;
  }

  &__view_plans_link {
    color: #53dbee;
    text-decoration: underline;
    font-weight: 500;
    margin-left: 4px;
  }
}
