@import "../../colors.css";

.text-field {
  margin-bottom: 17px;
}

.text-field label {
  display: block;
  font-size: 0.625em;
  margin-bottom: 6px;
}

.text-field input,
.text-field textarea {
  font: inherit;
  color: #0e052c;
  padding: 6.5px 12px;
  background-color: var(--fields-gray);
  border: 1px solid var(--mid-gray);
  border-radius: 3px;
}

.text-field textarea {
  font: inherit;
  width: 100%;
  box-sizing: border-box;
}
