@import "../../Style/parameters.css";

.text-field {
  margin-bottom: var(--form-field-spacing);

  label {
    display: block;
    font-size: var(--text-field-label-font-size);
    margin-bottom: 6px;
    color: var(--black100);
  }

  input {
    height: 36px;
  }

  textarea {
    height: 130px;
  }
  input,
  textarea {
    font: inherit;
    font-size: var(--normal-font-size);

    // color: var(--black60);
    padding: calc(var(--default-spacing) / 2) var(--default-spacing);
    background-color: var(--black5);
    border: 1px solid var(--black10);
    border-radius: var(--form-elements-border-radius);
    width: 100%;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
  }
}
