@import "../../../../style/index.scss";

.git-create-repo {
  flex-direction: column;
  &__header {
    font-size: 14px;
    margin-bottom: var(--large-spacing);
    color: var(--black100);
  }

  &__button {
    @include flexFullRowWithSpacing;
    width: 100%;
    justify-content: center;
  }

  .git-select-menu {
    display: flex;
    margin-bottom: var(--large-spacing);

    .select-menu__summary {
      flex: 1;
      display: flex;

      .item-content {
        flex: 1;
        display: flex;
      }
    }
  }

  .text-input input {
    max-width: unset;
  }

  &__progress {
    color: var(--white) !important;
  }

  &__label {
    color: var(--black80);
    margin-bottom: var(--icon-spacing);
    font-size: 10px;
  }
}
