@import "../../../style/index.scss";

.blueprint-node {
  overflow: hidden;
  border-radius: var(--default-border-radius);
  background-color: vaR(--gray-full);
  border: 1px solid var(--gray-70);
  padding: var(--default-spacing);
  box-sizing: border-box;
  border-top: 3px solid var(--gray-base);

  &--draggable {
    .blueprint-node__header {
      .amp-text {
        color: var(--gray-base) !important;
      }
    }
  }

  &--highlight {
    .blueprint-node__header {
      .amp-text {
        color: var(--theme-orange) !important;
      }
    }
  }

  &__header {
    border-bottom: 1px solid var(--gray-base);
    padding-bottom: var(--default-spacing);
    display: flex;
    justify-content: space-between;
  }

  &__title {
    .amp-text {
      color: var(--gray-20) !important;
    }
  }

  &__column_container {
    padding-top: var(--default-spacing);
  }
  &__column_inner_container {
    display: flex;
    position: relative;

    &:last-child > .blueprint-node__column_display_name {
      margin-bottom: 0;
    }
  }
  &__column_display_name {
    align-items: center;
    display: flex;
    font-size: var(--normal-font-size);
    gap: var(--default-spacing-small);
    width: 100%;
    border: 1px solid var(--gray-70);
    padding: var(--icon-spacing);
    margin-bottom: var(--icon-spacing);
    border-radius: var(--default-border-radius);
  }
  &__handle {
    &_left {
      left: -2px !important;
      top: 23px !important;
      border-radius: 0 !important;
      border-width: 0 !important;
      width: 0.5rem !important;
      background-color: transparent !important;
    }

    &_right {
      right: -2px !important;
      top: 23px !important;
      border-radius: 0 !important;
      border-width: 0 !important;
      width: 0.5rem !important;
      background-color: transparent !important;
    }
  }
}
