.not-found-page {
  height: 100%;

  main {
    min-width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .warning {
    height: 4rem;
    width: 4rem;
  }
}
