@import "../Style/parameters.css";

.application-layout {
  height: calc(100% - var(--mdc-top-bar-adjust));
  display: flex;
  flex-direction: row;

  &__content {
    padding: var(--default-page-padding);
    flex: 1;
  }
  &__menu {
    height: 100%;
    width: var(--menu-width);
    background-color: var(--white);
    border-right: 1px solid var(--black10);

    li.mdc-list-item {
      padding-bottom: 8px;
      padding-top: 8px;
      width: var(--menu-item-width);
      height: var(--menu-item-height);
      margin: 0 auto !important;
      border-radius: 0;
    }
    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      outline: none;
      i {
        width: 100%;
        height: 100%;
        background-size: contain;
      }
    }
  }
}
