@import "../style/index.scss";

.application-layout {
  padding: var(--default-page-padding);
  flex: 1;
  height: 100%;
  overflow: auto;
  @include scrollbars(10px, var(--black60), transparent);
  box-sizing: border-box;
}
