@import "../style/index.scss";

.application-card {
  @include applicationCard;

  & &__header {
    @include flexFullRow;
    align-items: flex-start;
    .application-badge {
      margin: initial;

      .application-badge__app-icon {
        margin: initial;
      }
    }
  }

  .application-badge__app-name {
    @include sectionTitle;
    @include semiBold;
    margin-top: var(--large-spacing);
    margin-bottom: var(--default-spacing-small-small);
    text-align: left;
  }

  & &__version {
    @include title1;
    @include bold;
    color: var(--black80);
  }

  & &__description {
    @include body2;
    color: var(--black60);
    overflow: hidden;
    flex: 1;
  }

  & &__footer {
    @include flexFullRow;
    margin: 0 calc(var(--large-spacing) * -1);
    margin-top: var(--default-spacing);
    padding: var(--default-spacing) var(--large-spacing);
    padding-bottom: 0;
    margin-bottom: calc(var(--default-spacing) - var(--large-spacing));
    border-top: $border-black10;
    color: var(--black60);

    > * {
      @include flexFullRow;
    }
  }
  & &__recently-used {
    margin-left: var(--default-spacing-small);
    background-color: var(--black5);
    height: var(--medium-button-height);
    border-radius: var(--medium-button-radius);
    @include flexFullRow;
    padding: calc(var(--default-spacing-small) / 2) var(--default-spacing-small);
    color: var(--black60);
    box-sizing: border-box;
    white-space: nowrap;

    i {
      padding-right: calc(var(--default-spacing-small) / 2);
    }
  }
}
