@import "../style/index.scss";

.application-home {
  &__info {
    @include flexFullRowWithSpacing;
    justify-content: flex-start;
    align-items: center;

    &__name {
      flex: 1;
    }
  }

  &__tiles {
    @include flexFullRow;
    margin: 0 calc(var(--default-spacing) * -1);
    align-items: stretch;

    > * {
      flex: 1;
    }
  }
}
