@import "../style/index.scss";

.application-home {
  &__info {
    @include flexFullRowWithSpacing;
    justify-content: flex-start;
    align-items: center;

    &__name {
      flex: 1;
    }
  }
}
