@import "../style/index.scss";

$app-icon-spacing: 64px;

.application-layout {
  &__app-container {
  }
  &__app-icon {
    &.amp-menu-item--active:before {
      display: none;
    }
  }
  &__menu-group {
    margin-bottom: $app-icon-spacing;
  }
}
