@import "../style/index.scss";

$panel-max-width: 1266px;
$screen-break: 1440px;
$mobile-break: 1440px;
$new-app-icon-font-size: 28px;
$list-padding-bottom: 200px;
$background-size: 60%;

.applications {
  & &__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: var(--large-spacing);
    h1 {
      margin: 0;
      @include pageTitle;
    }
  }

  main {
    max-width: calc(100% - var(--menu-width));
    min-width: 0;
  }

  //tablet
  @media only screen and (max-width: $breakpoint-desktop) {
    .applications__bg {
      background-size: 100%;
    }
  }
  //mobile
  @media only screen and (max-width: $breakpoint-tablet) {
    .applications__bg {
      background-size: 150%;
    }
    main {
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
      margin-left: 0;
      max-width: none;
    }
  }

  &__new-app {
    @include applicationCard;
    background-color: var(--black2);
    border: $border-black10;
    align-items: center;
    justify-content: center;
    @include sectionTitle;
    margin-bottom: 0;
    color: var(--black40);
    text-align: center;

    i {
      font-size: $new-app-icon-font-size;
      margin-bottom: var(--default-spacing);
    }

    &:hover {
      border: $border-primary;
      color: var(--black100);
      i {
        color: var(--primary);
      }
    }
  }

  .previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(var(--large-spacing) * -1);
    margin-right: calc(var(--large-spacing) * -1);
    max-width: $panel-max-width;
    margin: auto;
    padding-bottom: $list-padding-bottom;

    &--center {
      justify-content: center;
    }
  }

  @media only screen and (max-width: $screen-break - 1) {
    .previews {
      justify-content: center;
    }
  }

  //mobile
  @media only screen and (max-width: $breakpoint-tablet) {
    .previews {
      max-width: 90%;
      width: 90%;
    }
  }
}

.new-app-dialog {
  .amp-dialog__body {
    .amp-button {
      width: 100%;
    }
    .instructions {
      @include body2;
      padding-bottom: var(--default-spacing);
    }
  }
}
