@import "../style/index.scss";

.application-card {
  @include applicationCard;
  background-color: var(--black2);

  & &__header {
    @include flexFullRow;
    align-items: flex-start;
    .application-badge {
      margin: initial;

      .application-badge__app-icon {
        margin: initial;
      }
    }
  }

  .application-badge__app-name {
    @include sectionTitle;
    @include semiBold;
    margin-top: var(--large-spacing);
    margin-bottom: var(--default-spacing-small-small);
    text-align: left;
  }

  & &__version {
    @include title1;
    @include bold;
    color: var(--black80);
  }

  & &__description {
    @include body2;
    color: var(--black60);
    overflow: hidden;
    flex: 1;
  }

  & &__footer {
    @include flexFullRow;
    margin: 0 calc(var(--large-spacing) * -1);
    margin-top: var(--default-spacing);
    padding: var(--default-spacing) var(--large-spacing);
    padding-bottom: 0;
    margin-bottom: calc(var(--default-spacing) - var(--large-spacing));
    border-top: $border-black10;
    color: var(--black60);

    > * {
      @include flexFullRow;
    }
  }
  & &__recently-used {
    margin-left: var(--default-spacing-small);
    background-color: var(--black5);
    height: var(--medium-button-height);
    border-radius: var(--medium-button-radius);
    @include flexFullRow;
    padding: calc(var(--default-spacing-small) / 2) var(--default-spacing-small);
    color: var(--black60);
    box-sizing: border-box;
    white-space: nowrap;
    // overflow: hidden;

    i {
      padding-right: calc(var(--default-spacing-small) / 2);
    }
  }

  & &__recent-users {
    /**@todo: create new avatar list component */
    ul.avatars {
      display: flex;
      list-style-type: none;
      margin: auto;
      padding: 0;
      flex-direction: row-reverse;
    }

    li.avatars__item {
      height: var(--medium-button-height);
      margin: 0;
      padding: 0;
      position: relative;
      width: calc(
        var(--medium-button-height) - 5px
      ); /* Forces flex items to be smaller than their contents. */
      &:nth-child(2) {
        span.avatars__initials {
          /**@todo: use dynamic color for bg */
          background-color: var(--secondary1);
        }
      }
      &:nth-child(3) {
        span.avatars__initials {
          background-color: var(--secondary2);
        }
      }
      &:nth-child(4) {
        span.avatars__initials {
          background-color: var(--secondary-turquoise);
        }
      }
    }

    img.avatars__img,
    span.avatars__initials,
    span.avatars__others {
      box-sizing: border-box;
      background-color: var(--secondary-light-blue);
      border: 2px solid var(--white);
      border-radius: 100px;
      display: block;
      height: calc(var(--medium-button-height) + 4px);
      line-height: var(--medium-button-height);
      text-align: center;
      width: calc(var(--medium-button-height) + 4px);
      color: var(--white);
      font-size: var(--title2-font-size);
      text-transform: capitalize;
    }

    span.avatars__others {
      background-color: var(--black100);
    }
  }
}
