@import "../style/index.scss";

.application-database-settings-form {
  padding: var(--default-spacing-small);
  &__header {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--large-spacing);
    h3 {
      margin: 0;
    }
  }
}
