@import "../style/index.scss";

.applications {
  padding: 0 calc(var(--large-spacing) * 2);
  & &__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: var(--large-spacing);
    h1 {
      margin: 0;
      @include pageTitle;
    }
  }

  .previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(var(--large-spacing) * -1);
    margin-right: calc(var(--large-spacing) * -1);
  }
}

.new-app-dialog {
  .amp-dialog__body {
    .amp-button {
      width: 100%;
    }
    .instructions {
      @include body2;
      padding-bottom: var(--default-spacing);
    }
  }
}
