@import "../style/index.scss";

$app-name-expanded-height: 22px;
$app-icon-expanded-font-size: 30px;

$application-badge-size: 32px;
$application-badge-size-expanded: 50px;
$application-badge-size-large: 100px;
$app-icon-large-font-size: 70px;

.application-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--large-spacing) auto;

  a {
    text-decoration: none;
  }

  & &__app-name {
    @include title1;
    margin: var(--default-spacing) auto;
    color: var(--black100);
    height: 0%;
    height: 0;
    overflow: hidden;
    transition: all var(--menu-expand-animation-duration) ease-in;
    opacity: 0;
    text-decoration: none;
    text-align: center;
  }

  &--expanded {
    .circle-badge {
      width: $application-badge-size-expanded;
      height: $application-badge-size-expanded;
      font-size: $app-icon-expanded-font-size;
    }

    .application-badge__app-name {
      height: $app-name-expanded-height;
      overflow: hidden;
      opacity: 1;
    }
  }

  &--large {
    .circle-badge {
      width: $application-badge-size-large;
      height: $application-badge-size-large;
      font-size: $app-icon-large-font-size;
    }

    .application-badge__app-name {
      height: $app-name-expanded-height;
      overflow: hidden;
      opacity: 1;
    }
  }
}
