@import "../style/index.scss";

$info-panel-height: 140px;
$application-badge-size-large: 100px;
$app-icon-large-font-size: 70px;
$circle-badge-border: 2px;
$tiles-breakpoint: 700px;

.application-home {
  background: var(--white);
  width: 100%;

  &__header {
    @include flexFullRowWithSpacing;
    position: relative;
    z-index: 0;
    height: $info-panel-height;
    margin-right: 0;
    margin-left: 0;
    background-image: url("../assets/app-banner/app-banner-bg.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-radius: 0;
    border: none;
    border-bottom: $border-black10;
    margin-bottom: 0;

    &.theme-yellow {
      background-color: var(--theme-yellow);
    }
    &.theme-red {
      background-color: var(--theme-red);
    }
    &.theme-pink {
      background-color: var(--theme-pink);
    }
    &.theme-turquoise {
      background-color: var(--theme-turquoise);
    }
    &.theme-green {
      background-color: var(--theme-green);
    }
    &.theme-blue {
      background-color: var(--theme-blue);
    }
  }

  &__main {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    padding-top: var(--triple-spacing);

    .circle-badge {
      width: $application-badge-size-large;
      height: $application-badge-size-large;
      font-size: $app-icon-large-font-size;
      position: absolute;
      top: $application-badge-size-large / -2;
      left: calc(var(--double-spacing) * 2);

      &:before {
        width: $application-badge-size-large + ($circle-badge-border * 4);
        height: $application-badge-size-large + ($circle-badge-border * 4);
        content: "";
        background: var(--white);
        z-index: -1;
        position: absolute;
        border-radius: 50%;
        border: $circle-badge-border solid var(--black10);
        box-sizing: border-box;
      }
    }

    &__form {
      h1 {
        margin-top: var(--double-spacing);
        margin-bottom: var(--double-spacing);
      }
      width: 400px;
      padding: var(--double-spacing);

      hr {
        border: none;
        border-top: $border-black10;
        margin-top: var(--double-spacing);
        margin-bottom: var(--double-spacing);
      }
    }
    &__tiles {
      padding: var(--double-spacing);
      min-width: $tiles-breakpoint;
      flex: 1;
      @include flexFullRow;
      align-items: stretch;
      flex-wrap: wrap;

      > * {
        flex: 0 50%;
      }
    }
  }
}
