@import "../style/index.scss";

$app-icon-spacing: 64px;

.application-layout {
  &__app-icon {
    margin-bottom: $app-icon-spacing;
    &.amp-menu-item--active:before {
      display: none;
    }
  }
}
