@import "../style/index.scss";

$max-width: 700px;
$dropzone-height: 250px;

@mixin edit-area {
  position: absolute;
  left: calc(100% + var(--default-spacing-small));
  top: 0;
  background: var(--black5);
  border: $border-black10;
  border-radius: var(--default-border-radius);
  padding: var(--default-spacing-small);
  width: $entity-width;
  z-index: $z-index-edit-area;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.create-application-from-excel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  &__header {
    margin: var(--double-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__message {
    @include body1;
    line-height: 1.5;
    color: var(--black80);
    margin-bottom: var(--triple-spacing);
    max-width: $max-width;
    text-align: center;
    margin: var(--default-spacing);
  }

  &__dropzone {
    @include body1;
    margin: var(--double-spacing);
    height: $dropzone-height;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--double-spacing);

    border-radius: var(--default-border-radius);
    border: $border-black10;
    border-style: dashed;
    background-color: var(--white);
    color: var(--black80);
    outline: none;
    transition: border 0.1s ease-in-out;
    cursor: pointer;

    &:hover,
    &--active {
      border-color: var(--primary);
      background-color: var(--black5);
    }
  }

  &__notice {
    text-align: left;
    color: var(--black100);
    margin-bottom: var(--double-spacing);

    ul {
      margin: 0;
      padding: 0;
      color: var(--black60);

      li {
        @include flexFullRow;
        list-style: none;
        margin: 0;
        margin-top: var(--default-spacing);
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    a {
      color: var(--primary);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__entities {
    width: 100%;
    flex: 1;

    overflow: auto;
  }
  &__layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: stretch;
    justify-content: stretch;
    background: var(--black2);

    &__body {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      align-items: stretch;
      width: 100%;

      &__side {
        order: 2;
        width: 300px;
        background-color: var(--black5);
        padding: var(--default-spacing);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &__message {
          @include body2;
        }

        h3 {
          margin: var(--double-spacing) 0;
        }

        .text-input {
          width: 100%;
        }
        .amp-button {
          margin-top: auto;
          width: 100%;
        }
      }

      &__content {
        order: 1;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

        &__toolbar {
          padding: var(--default-spacing);
        }
      }
    }
  }
}
