@import "../style/index.scss";

$z-index-edit-area: 998;
$z-index-entity-hover: 997;
$z-index-entity-default: 2;

$max-width: 700px;
$dropzone-height: 250px;
$entity-width: 200px;

.create-application-from-excel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  &__header {
    @include flexFullRowWithSpacing;
  }

  &__message {
    @include body1;
    line-height: 1.5;
    color: var(--black80);
    margin-bottom: var(--triple-spacing);
    max-width: $max-width;
  }

  &__dropzone {
    @include body1;
    height: $dropzone-height;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--double-spacing);

    border-radius: var(--default-border-radius);
    border: $border-black90;
    border-style: dashed;
    background-color: var(--black10);
    color: var(--black80);
    outline: none;
    transition: border 0.1s ease-in-out;
    cursor: pointer;

    &:hover,
    &--active {
      border-color: var(--primary);
    }
  }

  &__layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: stretch;
    justify-content: stretch;

    &__toolbar {
      height: 50px;
      border-bottom: $border-black10;
    }

    &__body {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      align-items: stretch;
      width: 100%;

      &__side {
        order: 2;
        width: 300px;
        background-color: var(--black5);
        padding: var(--default-spacing);
      }

      &__content {
        order: 1;
        flex: 1;
        width: 100%;
        height: 100%;
        overflow: auto;
      }
    }
  }

  &__droppable {
    height: 100%;
    min-height: $entity-width;
    padding: var(--default-spacing);
    border: $border-primary;
    border-color: transparent;

    &--over {
      border: $border-primary;
    }
  }

  &__entities {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;

    &__entity {
      margin: var(--default-spacing);
      background-color: var(--white);
      overflow: hidden;
      border: $border-black10;
      border-radius: var(--default-border-radius);
      width: $entity-width;
      overflow: visible;
      min-height: $entity-width;
      position: absolute;
      top: 0;
      left: 0;

      &:hover {
        z-index: $z-index-entity-hover;
      }
      .handle {
        cursor: grab;
      }

      &__name {
        padding: var(--default-spacing);
        background-color: var(--black5);
      }

      &__add.amp-button {
        position: absolute;
        background-color: var(--primary);
        top: 0;
        right: 0;
        width: var(--double-spacing);
        height: var(--double-spacing);
      }
    }
  }

  &__fields {
    height: 100%;

    &__field {
      @include flexFullRowWithSpacing;
      padding: 0 var(--default-spacing-small);
      border-radius: var(--default-border-radius);
      border: $border-black10;
      border-color: transparent;
      position: relative;

      &--selected {
        background-color: var(--black5);
        border: $border-black10;
      }

      &:hover {
        background-color: var(--black5);
        border: $border-black10;
      }

      .amp-icon {
        margin-right: var(--default-spacing);
      }

      &__edit {
        visibility: hidden;
      }

      &__edit-area {
        position: absolute;
        left: calc(100% + var(--default-spacing-small));
        top: 0;
        background: var(--black5);
        border: $border-black10;
        border-radius: var(--default-border-radius);
        padding: var(--default-spacing-small);
        width: $entity-width;
        z-index: $z-index-edit-area;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
      }

      &:hover {
        .amp-button {
          visibility: visible;
        }
      }
    }
  }
}
