@import "../style/index.scss";

.new-application {
  @include modalForm;

  .amp-button {
    margin: 0;
  }

  &__loader {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: var(--double-spacing);
  }

  &__step1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: stretch;

    &__option {
      @include applicationCard;
      background: var(--black5);
      border: $border-black20;
      flex: 1;
      margin: var(--double-spacing);
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: center;

      &:hover {
        border-color: var(--primary);
      }

      &__title {
        @include title1;
      }
    }
  }

  &__step2 {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    .svg-theme-image {
      width: 100px;
      margin: var(--double-spacing);
    }

    &__form {
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      &__title {
        @include title1;
        margin-bottom: var(--double-spacing);
      }

      &__buttons {
        @include flexFullRowWithSpacing;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        margin-top: var(--double-spacing);

        .amp-button {
          width: auto !important;
        }

        &__back.amp-button {
          min-width: 0 !important;
          width: auto !important;
          margin: 0 var(--default-spacing);
        }
      }
    }
  }
}
