@import "../style/index.scss";

$button-width: 200px;
$container-width: 650px;

.complete-preview-signup {
  height: 100%;
  max-width: $container-width;
  margin: auto;
  text-align: center;

  &__confirm-button {
    margin-top: var(--double-spacing);
    width: $button-width;

    &__rocket {
      margin-left: var(--default-spacing);
    }
  }
}
