@import "../style/index.scss";

.complete-preview-signup {
  margin-top: 200px;
  &__toast {
    margin: var(--double-spacing) 0;
  }
  &__cheers {
    margin-top: var(--double-spacing);
  }
  &__confirm-button {
    margin-top: var(--double-spacing);

    &__rocket {
      padding-left: 2px;
    }
  }
}
