@import "../../../../style/index.scss";
@import "../GitDialogsIndex.scss";

.git-create-repo {
  overflow: auto;

  &__button {
    @include flexFullRowWithSpacing;
    width: 100%;
    justify-content: center;
  }

  &__table {
    width: 100%;
    margin-bottom: var(--default-spacing);

    .input-label {
      margin-bottom: 0;
    }

    ~ .amplication-label {
      display: block;
    }
  }

  &__progress {
    color: var(--white) !important;
  }
}
th {
  font-weight: normal;
  color: var(--black60);
  font-size: var(--text-field-label-font-size);
  text-align: inherit;
}
