.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .amp-panel {
    padding: var(--triple-spacing);

    &__header {
      justify-content: center;
      margin-bottom: var(--double-spacing);
    }

    .message {
      color: var(--black60);
      max-width: 300px;
      margin-bottom: var(--double-spacing);
      margin-top: var(--double-spacing);
    }

    .docs {
      margin-bottom: var(--double-spacing);
      margin-top: var(--double-spacing);
      text-align: center;
      color: var(--primary);
    }
  }

  .amp-button {
    width: 100%;
    margin-top: var(--double-spacing);
  }
}
