:root {
  --fixed-menu-panel-width: 300px;
  --fixed-menu-panel-max-width: 300px;
  --app-footer-height: 50px;

  --theme-turquoise-transparent: rgba(65, 202, 221, 0.1);
  --theme-light-red-transparent: rgba(248, 91, 110, 0.1);

  --page-content-width-default: 1300px;
}
