:root {
  --fixed-menu-panel-width: 350px;
  --fixed-menu-panel-max-width: 350px;

  --theme-yellow: #f5b82e;
  --theme-red: #ff6e6e;
  --theme-pink: #f685a1;
  --theme-turquoise: #41cadd;
  --theme-green: #8dd9b9;
  --theme-blue: #20a4f3;

  --negative-light: #f85b6e;
}
