@mixin pageTitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: var(--black100);
  margin: 0;
}

@mixin sectionTitle {
  font-weight: normal;
  font-size: 17px;
  color: var(--black100);
  margin-top: 0;
  margin-bottom: var(--default-spacing);
}

@mixin title1 {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  color: var(--black100);
}

@mixin headline-description {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  color: var(--black40);
  margin-bottom: var(--default-spacing);
}

@mixin body1 {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  color: var(--black80);
}

@mixin body2 {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  color: var(--black80);
}

@mixin columnHeader {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--black40);
}

@mixin errorMessage {
  color: var(--negative);
  font-size: 10px;
}

@mixin bold {
  font-weight: 600;
}

@mixin semiBold {
  font-weight: 500;
}

@mixin label {
  display: block;
  font-size: var(--text-field-label-font-size);
  margin-bottom: var(--default-spacing-small);
  color: var(--black40);
}

@mixin textField {
  font: inherit;
  font-size: var(--normal-font-size);
  padding: calc(var(--default-spacing) / 2) var(--default-spacing);
  background-color: var(--white);
  border: $border-black20;
  border-radius: var(--form-elements-border-radius);
  width: 100%;
  box-sizing: border-box;
  color: var(--black80);
  height: var(--field-height);
}

@mixin textField--active {
  outline: none;
  box-shadow: none;
  border: $border-primary;
  transition: border 0.2s ease-in, color 0.2s ease-in;
  color: var(--black100);
}

@mixin textField--disabled {
  background: var(--black5);
  border: var(--black10);
}

$bullet-size: 6px;

@mixin bulletList {
  margin: 0;
  padding: 0;
  color: var(--black60);

  li {
    list-style: none;
    margin: 0;
    margin-top: var(--default-spacing);
    margin-left: var(--default-spacing);
    position: relative;
    font-weight: normal;
    &:before {
      content: "";
      position: absolute;
      left: calc(var(--default-spacing) * -1);
      width: $bullet-size;
      height: $bullet-size;
      top: calc(50% - #{$bullet-size / 2});
      background-color: var(--secondary-turquoise);
      border-radius: $bullet-size / 2;
      display: block;
    }
  }
}

@mixin counterBadge {
  font-weight: 500;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: -8px;
  left: calc(100% - 14px);
  height: 16px;
  min-width: 16px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

@mixin flexFullRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flexFullRowWithSpacing {
  @include flexFullRow();
  .spacer {
    flex: 1;
  }
  > * {
    margin-left: var(--default-spacing);
    &:first-child {
      margin-left: 0;
    }
  }
}

@mixin whiteListItem {
  background: var(--white);
  border-radius: var(--default-border-radius);
  border: none;
  box-sizing: border-box;
  padding: var(--default-spacing) var(--large-spacing);
  margin-bottom: var(--default-spacing);
  height: var(--grid-row-height);
}

@mixin tag {
  background-color: var(--white);
  height: var(--medium-button-height);
  border-radius: var(--medium-button-radius);
  border: 1px solid var(--black10);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: calc(var(--default-spacing-small) / 2) var(--default-spacing);
  color: var(--black80);
  box-sizing: border-box;
  white-space: nowrap;
  width: auto;
  margin-right: var(--default-spacing-small);
  margin-bottom: var(--default-spacing-small);
  min-width: calc(var(--default-spacing) * 4);

  i {
    font-size: 20px;
  }
}

@mixin applicationCard {
  box-sizing: border-box;
  background: var(--white);
  border-radius: var(--default-border-radius);
  border: none;

  padding: var(--large-spacing);
  width: var(--application-card-width);
  height: var(--application-card-height);
  margin: var(--large-spacing);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black10);
  min-width: 240px;
  max-width: 50vw;

  &:hover {
    box-shadow: var(--hover-box-shadow);
  }
}

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $size / 2;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: $size / 2;
    margin: 10px;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin stickRight($page-content-max-width) {
  position: fixed;
  right: calc(
    (100vw - #{$page-content-max-width}) / 2 - var(--default-page-padding)
  );

  @media only screen and (max-width: #{$page-content-max-width}) {
    right: calc(var(--default-page-padding) + var(--default-spacing-small));
  }
}

@mixin homePageTile {
  padding: var(--double-spacing);
  position: relative;
  height: 220px;

  & &__title {
    margin-top: var(--default-spacing);
    justify-content: flex-start;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;

    img {
      max-width: 150px;
      max-height: 150px;
    }

    &__details {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      flex: 1;
      margin-bottom: var(--double-spacing);
      color: var(--black60);
    }
    &__action {
      margin-top: auto;
    }
  }
}

@mixin modalForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--default-spacing);

  > * {
    margin-bottom: var(--large-spacing);
  }
  &__instructions {
    @include body2;
    color: var(--black100);
    margin-bottom: var(--double-spacing);
    text-align: center;
  }

  form {
    width: 100%;
  }
  .amp-button {
    margin-top: var(--double-spacing);
    margin-bottom: 0;
    width: 100%;
  }
}

$active-indicator-width: 4px;

@mixin activeItemIndicator {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: $active-indicator-width * -0.5;
  width: $active-indicator-width * 1.5;
  pointer-events: none;
  border-top-right-radius: $active-indicator-width * 2;
  border-bottom-right-radius: $active-indicator-width * 2;
  background-color: var(--primary) !important;
  content: "";
}
