//  Use this file for Sass parameters.
//  CSS variable should be added to css-variables.css
$border-black10: 1px solid var(--black10);
$border-black20: 1px solid var(--black20);
$border-primary: 1px solid var(--primary);
