:root {
  --surface: #f3f3f3;
  --white: #ffffff;

  --primary: #7950ed;
  --dark-purple: #6032ea; /** @todo rename */
  --raised-button-fill: #6032ea;
  --dark-gray: #6d6985;
  --mid-gray: #dcdce6;
  --gray: #b0b0bd;
  --fields-gray: #f6f6f9;
  --mdc-theme-primary: var(--primary);
  --mdc-theme-secondary: #6032ea;
  --mdc-typography-body2-font-family: "Poppins", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --mdc-typography-subtitle2-font-family: var(
    --mdc-typography-body2-font-family
  );

  --black100: #170f3f;
  --black90: #2e2752;
  --black60: #746f8c;
  --black40: #a29fb2;
  --black10: #e8e7ec;

  --title1-font-size: 15px;
  --title2-font-size: 12px;
  --normal-font-size: 12px;

  --default-spacing: 12px;
  --default-spacing-small: 8px;
  --header-height: 50px;
  --menu-width: var(--header-height);
  --menu-item-width: 32px;
  --menu-item-height: var(--menu-item-width);

  --default-page-padding: calc(var(--default-spacing-small) * 3);
}
