version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    target-branch: "next"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    open-pull-requests-limit: 5

  - package-ecosystem: "docker"
    directory: "/"
    target-branch: "next"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types:
          ["version-update:semver-major", "version-update:semver-minor"]
