@import "../../style/index.scss";

.circle-badge {
  @include title1;
  width: var(--menu-item-width);
  min-width: var(--menu-item-width);
  height: var(--menu-item-width);
  box-sizing: border-box;
  transition: all var(--menu-expand-animation-duration) ease-in;
  margin: auto;
  text-decoration: none;
  color: var(--static-white);
  border: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font-family);
  background-color: var(--secondary-turquoise);
}
