@import "../../style/index.scss";

$logo-header-width: 50px;
$search-header-width: 52px;
$user-header-width: 90px; // 64px after remove signout
$modal-menu-width: 220px;
$modal-menu-top: 30px;

.workspace-header {
  @include flexFullRowWithSpacing;
  height: var(--header-height);
  min-height: var(--header-height);
  background: var(--black2);
  border-bottom: $border-black5;

  &__left,
  &__right {
    flex: 1;
  }

  &__logo {
    border-right: $border-black70;
    width: var(--menu-width);
  }
  &__breadcrumbs {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &__project {
      @include regular-12();
      color: var(--black80);
      margin-right: var(--default-spacing);

      &.highlight,
      &:hover {
        a {
          color: var(--black100);
        }
      }
    }
    &__resource {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: var(--default-spacing);

      .select-menu__summary.amp-button.amp-button--text {
        color: var(--black80);
        &.highlight,
        &:hover,
        &:focus,
        &:active {
          color: var(--black100);
        }
      }
      .select-menu__modal {
        width: $modal-menu-width;
        background-color: var(--black2);
        border: $border-black30;
        box-shadow: 0px 18px 28px -8px rgba(9, 11, 20, 0.6);
        border-radius: var(--default-spacing-small);
        right: 45%;
      }
      .select-menu__modal > div {
        border: none;
        width: $modal-menu-width;
        display: flex;
        flex-direction: column;
      }
      .select-menu__list {
        width: $modal-menu-width;
        display: flex;
        padding: 5px 0px;
        flex-direction: column;
        border: none;
      }
      .select-menu__item {
        padding: 5px;
        margin-bottom: var(--icon-spacing);
      }
      &__item {
        margin-left: var(--text-field-label-font-size);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      &__icon {
        color: var(--black100);
      }
      &__text {
        margin-left: var(--default-spacing-small);
        @include regular-14();
        color: var(--black100);
        &__desc {
          color: var(--black80);
        }
      }
    }
  }

  &__right {
    @include flexFullRowWithSpacingBothSides;
    padding: var(--default-spacing);
    justify-content: flex-end;
  }

  &__divider {
    border: $border-black5;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__links {
    @include flexFullRowWithSpacingBothSides;
    &__link {
      @include regular-12();
      color: var(--black80);
      &:hover {
        color: var(--black100);
      }
    }
  }

  &__vertical_border {
    width: 1px;
    height: var(--large-spacing);
    background: var(--black10);
    border: none;
    margin: 0;
  }

  &__resources_modal {
    top: $modal-menu-top;
  }

  &__user_badge_wrapper {
    padding: var(--user-badge-spacing);
  }
}
