@import "../style/index.scss";

$wide-assistant-width: 550px;
$assistant-width: 350px;
$assistant-handle-width: 24px;
$assistant-handle-top: 150px;
$assistant-handle-margin: 40px;
$avatar-size: 30px;

$input-line-height: 18px;
$input-max-height: 100px;

#root {
  // --assistant-background: var(--theme-gradient);
  // --assistant-message-background: var(--gray-base);
  // --assistant-message-color: var(--gray-full);
  // --assistant-title-color: var(--gray-base);
  // --assistant-role-color: var(--gray-80);
  // --assistant-handle-background: var(--theme-gradient);

  --assistant-background: var(--surface);
  --assistant-message-background: var(--gray-full);
  --assistant-message-color: var(--gray-base);
  --assistant-title-color: var(--gray-base);
  --assistant-role-color: var(--gray-base);
  --assistant-handle-background: var(--theme-gradient);

  --assistant-box-shadow: 5px 0px 5px rgba(56, 28, 138, 0.06);
}

.assistant {
  height: 100vh;
  box-sizing: border-box;
  width: $assistant-width;
  box-sizing: border-box;
  padding: var(--default-spacing);
  background: var(--assistant-background);
  box-shadow: var(--assistant-box-shadow);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: var(--default-spacing);
  overflow: hidden;
  transition: width 0.15s;
  &--wide {
    width: $wide-assistant-width;
  }

  &--close {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &__handle {
    position: absolute;
    top: $assistant-handle-top;
    z-index: 9999;
    left: 0;
    width: $assistant-handle-width;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--gray-full);
    font-size: var(--icon-font-size);
    background: var(--assistant-handle-background);
    border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;

    padding: var(--default-spacing);

    .assistant__title {
      white-space: nowrap;
      transform: rotate(-90deg);
      margin-top: $assistant-handle-margin;
      margin-bottom: $assistant-handle-margin;
    }
  }

  &__limit {
    padding: var(--default-spacing);
    flex: 1;
    text-align: center;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--icon-spacing);
    background: var(--assistant-handle-background);
    margin: calc(var(--default-spacing) * -1);
    margin-bottom: 0;
    padding: var(--default-spacing-small);

    .amp-button {
      color: var(--gray-full);

      &:focus,
      &:active,
      &:hover {
        color: var(--gray-base);
      }
    }
  }

  &__title {
    flex: 1;
    color: var(--assistant-title-color);
  }

  &__messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--default-spacing);
    overflow-y: auto;
    padding: var(--default-spacing);
    padding-left: 0;
    font-size: var(--tag-font-size);
  }

  &__chat_input {
    display: flex;
    gap: var(--default-spacing-small);
    align-items: center;
    background-color: var(--gray-full);
    border-radius: var(--default-border-radius);
    padding: var(--default-spacing) var(--icon-spacing);

    form {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: var(--default-spacing);
      align-items: flex-end;

      .text-input {
        flex: 1;

        label {
          margin: 0;
        }

        textarea {
          --input-line-height: #{$input-line-height};
          --input-lines: 1;
          max-width: none;
          background: transparent;
          border: none;
          height: calc(
            (var(--input-lines) * var(--input-line-height)) +
              var(--default-spacing)
          );
          max-height: $input-max-height;

          &:focus,
          &:active,
          &:hover {
            outline: none;
            border: none;
          }
        }
      }
    }

    .amp-button {
      height: calc((1 * var(--input-line-height)) + var(--default-spacing));
    }
  }

  &__message {
    background-color: var(--assistant-message-background);
    border-radius: var(--default-border-radius);
    padding: var(--default-spacing);
    color: var(--assistant-message-color);
    position: relative;

    &__content {
      overflow-wrap: break-word;
    }

    pre {
      overflow: auto;
      background: var(--gray-90);
      padding: var(--default-spacing);
    }

    a {
      color: var(--theme-turquoise);
      text-decoration: underline;
    }

    &__options {
      display: flex;
      flex-direction: column;
      gap: var(--default-spacing);
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      > .amp-button.amp-button--gradient-outline {
        max-width: 100%;
        text-align: left;
        white-space: normal;
        height: auto;
        color: var(--assistant-message-color);
      }
    }
  }

  &__message-role {
    display: flex;
    flex-direction: row;
    gap: var(--default-spacing);
    align-items: center;
    justify-content: flex-start;
    font-weight: semi-bold;
    color: var(--assistant-role-color);

    .user-avatar__initials {
      width: $avatar-size;
      height: $avatar-size;
      font-size: var(--h4-font-size);
    }
  }
}
