@import "../style/index.scss";

.private-plugin-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  gap: vat(--default-spacing);

  .search-field {
    margin-left: 0;
    margin-bottom: var(--default-spacing);
  }

  &__header {
    margin-bottom: var(--default-spacing);
  }
}
