node_modules
**/node_modules
*.md
*cloudbuild.yaml
.git
.github
.vscode
docs
terraform
.env
.gcloudignore
.gitbook.yaml
.gitignore
docker-compose.yml
packages/**/dist
packages/amplication-server/artifacts
packages/amplication-client/build