.git
.github
.vscode
.idea
docs
terraform
.env
.gcloudignore
.gitbook.yaml
.gitignore
docker-compose.yml
packages/amplication-e2e-tester
packages/amplication-server/artifacts
packages/amplication-data-service-generator/src/tests
packages/amplication-data-service-generator/generated


**/node_modules
*.md
**/*.md
*.yaml
**/*.yaml

packages/**/dist
packages/amplication-client/build
packages/**/lib

**/*.spec.ts
**/*.mock.ts

!packages/amplication-data-service-generator/src/*/static
