node_modules/
terraform/envs/production/.terraform.lock.hcl
terraform/envs/dev/.terraform.lock.hcl
lerna-debug.log
terraform/envs/*/.terraform.lock.hcl
.DS_Store
.idea/
secrets/
lib/
*.tgz
values-secret*
dist/
packages/.server-id
