@import "../../../style/index.scss";

.git-organization-select-menu {
  &__select-menu {
    background: var(--black2);
  }
  &__menu {
    margin-left: 0 !important;
    box-sizing: border-box;
    padding: 0px 12px;
    gap: 8px;
    width: 248px;
    height: 28px;
    background: var(--black5);
    border: $border-black20;
    border-radius: var(--small-border-radius);

    .amp-button.amp-button--text {
      height: 28px;
    }

    &__add-icon {
      position: absolute;
      margin-right: var(--double-spacing);
    }
  }
  &__hr {
    border: none;
    border-top: $border-black5;
    margin-left: var(--default-spacing-small);
    margin-right: var(--default-spacing-small);
  }
}
