@import "../../../style/index.scss";

.git-organization-select-menu {
  &__label-title {
    @include regular-10;
    padding-bottom: var(--icon-spacing);
    color: var(--black80);
  }

  &__select-menu {
    background: var(--white);
    width: 268px;
    margin: 0px;
  }

  &__menu {
    width: 268px;
    border: 1px solid #373d57;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--white);
    position: relative;

    .amp-button {
      height: 28px;
      width: 100%;
      justify-content: space-between;
      padding: 5px 8px;
      background: var(--white);

      .menu-item-content__text {
        max-width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &__add-icon {
      position: absolute;
      margin-right: var(--double-spacing);
    }
  }

  &__list {
    top: 28px;
    & div {
      width: 265px;
      border: 1px solid var(--black10);
      margin: 0;
    }
  }

  &__item {
    background-color: transparent;
    border: none;
    width: 268px;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 5px 0px 5px 6px;

    & svg {
      margin-top: 5px;
      margin-left: 6px;
    }
    & .menu-item-content__text {
      width: 200px;
    }
  }

  &__item:hover {
    background-color: var(--black5);
  }

  &__add-item {
    background-color: var(--black5);
    height: 34px;
    display: flex;
    color: var(--black80);

    align-items: center;
    & i {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  &__add-item:hover {
    cursor: pointer;
  }
}
