@import "../../../style/index.scss";

.git-organization-select-menu {
  &__label-title {
    @include regular-10;
    padding-bottom: var(--icon-spacing);
    color: var(--black80);
  }

  &__select-menu {
    background: var(--black2);
  }

  &__menu {
    width: 268px;
    border: 1px solid #373d57;
    box-sizing: border-box;
    border-radius: 4px;

    .amp-button {
      height: 28px;
      width: 100%;
      justify-content: space-between;
      padding: 5px 8px;
      background: var(--white);

      .menu-item-content__text {
        max-width: 180px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &__add-icon {
      position: absolute;
      margin-right: var(--double-spacing);
    }
  }
  &__hr {
    border: none;
    border-top: $border-black5;
    margin-left: var(--default-spacing-small);
    margin-right: var(--default-spacing-small);
  }
}
