.menu-item-content {
  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 50%;
  }
  height: 28px;
  display: flex;
  align-items: center;
}
