@import "../style/index.scss";

$party-font-size: 140px;
$footer-height: 52px;
$logo-width: 150px;
$body-max-width: 400px;
$item-height: 90px;
$item-image-size: 40px;

.onboarding-preview {
  &__header,
  &__footer {
    box-sizing: border-box;
    background-color: var(--gray-full);
    width: 100%;
    padding: var(--default-spacing);
  }

  &__party {
    font-size: $party-font-size;
  }

  &__footer {
    height: $footer-height;
  }
  &__header {
    &__logo {
      width: $logo-width;
    }
  }

  &__body {
    flex: 1;
    overflow: auto;
    max-width: $body-max-width;
    margin: auto;
    padding: 0 var(--default-spacing);

    li {
      list-style: none;
      margin-bottom: var(--default-spacing-small);

      [role="img"] {
        margin-right: var(--default-spacing);
      }

      strong {
        color: var(--theme-turquoise);
      }
    }

    .amp-progress-bar__details {
      justify-content: center;
      text-align: center;
    }

    .amp-button {
      height: $item-height;
      width: 100%;
      border-color: var(--gray-70);

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: var(--double-spacing);

      &.selected {
        background-color: var(--gray-full);
        border-color: var(--primary);
      }

      img,
      .amp-icon {
        width: $item-image-size;
        height: $item-image-size;
        border-radius: var(--default-border-radius);
        overflow: hidden;
        box-sizing: border-box;
        background-color: var(--gray-70);

        &.with-padding {
          padding: var(--icon-spacing);
          background-color: var(--gray-70);
        }
      }

      .amp-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--gray-base);
      }
    }
  }
}
