@import "../style/index.scss";

.onboarding-preview {
  &__header,
  &__footer {
    box-sizing: border-box;
    background-color: var(--gray-full);
    width: 100%;
    padding: var(--default-spacing);
  }

  &__party {
    font-size: 140px;
  }

  &__footer {
    height: 52px;
  }
  &__header {
    &__logo {
      width: 150px;
    }
  }

  &__body {
    flex: 1;
    overflow: auto;
    max-width: 400px;
    margin: auto;
    padding: 0 var(--default-spacing);

    li {
      list-style: none;
      margin-bottom: var(--default-spacing-small);

      [role="img"] {
        margin-right: var(--default-spacing);
      }

      strong {
        color: var(--theme-turquoise);
      }
    }

    .amp-progress-bar__details {
      justify-content: center;
      text-align: center;
    }

    .amp-button {
      height: 90px;
      width: 100%;
      border-color: var(--gray-70);

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: var(--double-spacing);

      img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        overflow: hidden;
      }
    }
  }
}
