@import "../../style/index.scss";

.code-view-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &__heading {
    h2 {
      @include title1;
    }
  }

  .commit-selector {
    padding-bottom: var(--default-spacing);
  }

  hr {
    border: none;
    border-top: $border-black10;
    margin-top: var(--double-spacing);
    margin-bottom: var(--double-spacing);
    width: 100%;
  }
}
