@import "../style/index.scss";

.resource-list-item {
  margin: 0;
  margin-bottom: var(--default-spacing);

  &__row {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--default-spacing);

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    @include body1;
    color: var(--black100);
  }
  &__description {
    @include body2;
    color: var(--black80);
  }

  &__recently-used {
    margin-left: var(--default-spacing-small);
    height: var(--medium-button-height);
    border-radius: var(--medium-button-radius);
    @include flexFullRow;
    box-sizing: border-box;
    white-space: nowrap;
    .user-and-time {
      margin-left: var(--default-spacing-small);
    }
  }

  &__last-build {
    font-weight: normal;
    &__title {
      color: var(--black100);
    }
    &__not-yet {
      color: var(--black80);
    }
  }
}
