@import "../style/index.scss";
$empty-state-image-size: 120px;

.subscription {
  &__header {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--large-spacing);
  }

  &__processing {
    @include pageTitle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .rmwc-circular-progress {
      margin-top: var(--double-spacing);
    }
  }
}
