@import "../style/index.scss";
$empty-state-image-size: 120px;

.subscription {
  &__header {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--large-spacing);

    .search-field {
      width: var(--form-field-long);
    }
  }
}
