@import "../style/index.scss";

@mixin workspaceItem {
  display: flex;
  flex: 1;
  cursor: pointer;
  padding: var(--default-spacing);
  gap: var(--default-spacing);

  &__name {
    @include regular-12;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    min-width: 0;
  }

  &__plan {
    font-size: 10px;
    color: var(--black60);

    &.free {
      color: var(--secondary);
    }

    &.pro {
      color: var(--secondary-light-blue);
    }

    &.enterprise {
      color: var(--positive-default);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    font-weight: 400;
  }
}

.workspaces-selector {
  position: relative;
  display: flex;
  background-color: var(--surface);
  border: $border-black5;
  border-top-left-radius: var(--default-spacing-small);
  border-top-right-radius: var(--default-spacing-small);

  &__current {
    @include workspaceItem;
    width: calc(100% - var(--double-spacing));

    .amp-button {
      min-width: var(--button-min-width);

      .amp-icon {
        margin: 0;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 57px;
    left: -1px;
    border: $border-black30;
    border-bottom-left-radius: var(--default-spacing-small);
    border-bottom-right-radius: var(--default-spacing-small);
    background-color: var(--black2);
    width: 100%;
    z-index: 1;

    &__item {
      @include workspaceItem;
      width: calc(100% - var(--double-spacing));
      margin-bottom: var(--icon-spacing);
      &__icon {
        color: var(--positive-default);
      }

      align-items: center;

      &:hover {
        background-color: var(--black10);
      }
    }

    &__button {
      i {
        padding: 2px;
      }
    }

    &__new {
      flex: 1;
      padding: var(--default-spacing);
    }

    &__divider {
      height: 1px;
      margin: 0 var(--default-spacing) var(--icon-spacing);
      background-color: var(--black30);
      border: none;
    }
  }

  &:hover {
    background-color: var(--black2);
    border: $border-black30;
  }

  &__close {
    border-bottom-left-radius: var(--default-spacing-small);
    border-bottom-right-radius: var(--default-spacing-small);
  }

  &__open {
    background-color: var(--black2);
    border: $border-black30;
  }
}
