@import "../style/index.scss";

@mixin workspaceItem {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: var(--default-spacing);

  .circle-badge {
    margin-left: 0;
    margin-right: var(--default-spacing);
  }

  &__name {
    @include regular-12;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__plan {
    font-size: 10px;
    color: var(--black60);
  }

  &__details {
    @include flexColumn;
    font-weight: 400;
    margin-right: auto;
  }
}

.workspaces-selector {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--surface);
  border: $border-black5;
  border-top-left-radius: var(--default-spacing-small);
  border-top-right-radius: var(--default-spacing-small);
  width: 100%;
  margin-bottom: var(--large-spacing);

  &__current {
    @include workspaceItem;

    .amp-button {
      min-width: 16px;

      .amp-icon {
        margin: 0;
      }
    }
  }

  &__list {
    position: absolute;
    top: 57px;
    left: -1px;
    width: calc(100% - var(--double-spacing));
    border: $border-black30;
    border-bottom-left-radius: var(--default-spacing-small);
    border-bottom-right-radius: var(--default-spacing-small);
    background-color: var(--black2);
    width: 100%;
    z-index: 1;

    &__item {
      @include workspaceItem;
      width: calc(100% - var(--double-spacing));
      margin-bottom: var(--icon-spacing);
      &__icon {
        color: var(--positive-default);
      }

      &:hover {
        background-color: var(--black10);
      }
    }

    &__button {
      margin-left: var(--default-spacing);
      margin-top: var(--default-spacing-small);
    }

    &__new {
      height: 72px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__divider {
      width: calc(100% - var(--double-spacing));
      border: 1px solid var(--black30);
    }
  }
}

.workspaces-selector:hover {
  background-color: var(--black2);
  border: $border-black30;
}

.workspaces-selector__close {
  border-bottom-left-radius: var(--default-spacing-small);
  border-bottom-right-radius: var(--default-spacing-small);
}
.workspaces-selector__open {
  background-color: var(--black2);
  border: $border-black30;
}
