@import "../style/index.scss";

@mixin workspaceItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: var(--default-spacing);
  gap: 4px;
  width: 100%;

  .circle-badge {
    margin-left: 0;
    margin-right: var(--default-spacing);
  }

  &__name {
    @include regular-12;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__plan {
    font-size: 10px;
    color: var(--black60);
  }

  &__details {
    @include flexColumn;
    font-weight: 400;
    margin-right: auto;
  }
}

.workspaces-selector {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--surface);
  border: 1px solid var(--black5);
  border-top-left-radius: var(--default-spacing-small);
  border-top-right-radius: var(--default-spacing-small);
  width: 100%;
  margin-bottom: 16px;

  &__current {
    @include workspaceItem;

    .amp-icon {
      justify-self: flex-end;
    }
  }

  &__list {
    position: absolute;
    top: 57px;
    left: -1px;
    width: calc(100% - 24px);
    border: 1px solid var(--black30);
    border-bottom-left-radius: var(--default-spacing-small);
    border-bottom-right-radius: var(--default-spacing-small);
    background-color: var(--black2);
    width: 100%;
    z-index: 1;

    &__item {
      @include workspaceItem;
      width: calc(100% - 24px);
      margin-bottom: 4px;
      &__icon {
        color: #31c587;
      }
    }

    &__item:hover {
      background-color: var(--black10);
    }

    &__button {
      margin-left: 12px;
      margin-top: 10px;
    }

    &__new {
      height: 72px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__divider {
      width: calc(100% - 24px);
      border: 1px solid var(--black30);
    }
  }
}

.workspaces-selector:hover {
  background-color: var(--black2);
  border: 1px solid var(--black30);
}

.workspaces-selector-close {
  border-bottom-left-radius: var(--default-spacing-small);
  border-bottom-right-radius: var(--default-spacing-small);
}
.workspaces-selector-open {
  background-color: var(--black2);
  border: 1px solid var(--black30);
}
