@import "../style/index.scss";

.workspaces-layout {
  height: calc(100%);
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  color: var(--black100);

  &__page_content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  &__main_content {
    flex-grow: 1;
  }

  &__changes_menu {
  width: 261px;
  background: var(--menu-background-color);
  }
}
