@import "../style/index.scss";

.workspaces-layout {
  height: calc(100%);
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  color: var(--black100);

  &__page_content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  &__main_content {
    flex-grow: 1;
  }

  &__changes_menu {
    width: var(--changes-menu-width);
    min-width: var(--changes-menu-width);
    background: var(--menu-background-color);
    border-left: $border-black10;
  }
}
