@import "../style/index.scss";

.workspace-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  background: var(--black10);
  height: var(--footer-height);
}
