@import "../../style/index.scss";
.app-git-status-panel {
  &__message {
    color: var(--warning-default);
    padding: var(--default-spacing) 0;
  }

  &__connected {
    &__details {
      @include flexFullRowWithSpacing;
    }
  }

  .amplication-label {
    color: var(--black90);
  }

  &__last-sync {
    @include flexFullRow;
    height: var(--medium-button-height);
    border-radius: var(--medium-button-radius);
    color: var(--black60);
    box-sizing: border-box;
    white-space: nowrap;
    justify-content: flex-start;

    i {
      padding-right: calc(var(--default-spacing-small) / 2);
    }
  }
}
