@import "../../style/index.scss";

.auth-app-with-github {
  margin-left: 0 !important;
  padding-left: 0 !important;

  .toggle-field {
    margin: 0;
  }

  .amp-panel-collapsible__header:hover {
    box-shadow: none;
    cursor: default;
  }

  &__notice {
    &__title {
      @include body2;
      color: var(--black100);
    }
    text-align: left;
    margin-top: var(--double-spacing);
    color: var(--black100);
    margin-bottom: var(--double-spacing);

    ul {
      margin: 0;
      padding: 0;
      padding-top: var(--default-spacing-small);
      color: var(--black60);
      li {
        line-height: var(--double-spacing);
        list-style: none;
        margin: 0;
        @include flexFullRow;
        justify-content: flex-start;
        align-items: center;
        .amp-icon {
          margin-right: var(--default-spacing-small);
          color: var(--positive-default);
        }
      }
    }

    a {
      color: var(--primary);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .select-menu__modal {
    left: 0;
  }
}
