@import "../../style/index.scss";

.auth-with-git {
  margin-left: 0 !important;
  padding-left: 0 !important;

  &__providerItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    gap: 8px;
    border: 1px solid #373d57;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    width: 552px;
  }

  &__providerIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .toggle-field {
    margin: 0;
  }

  .amp-panel-collapsible__header:hover {
    box-shadow: none;
    cursor: default;
  }

  &__notice {
    &__title {
      @include body2;
      color: var(--gray-base);
    }
    text-align: left;
    margin-top: var(--double-spacing);
    color: var(--gray-base);
    margin-bottom: var(--double-spacing);

    ul {
      margin: 0;
      padding: 0;
      padding-top: var(--default-spacing-small);
      color: var(--gray-30);
      li {
        line-height: var(--double-spacing);
        list-style: none;
        margin: 0;
        @include flexFullRow;
        justify-content: flex-start;
        align-items: center;
        .amp-icon {
          margin-right: var(--default-spacing-small);
          color: var(--theme-green);
        }
      }
    }

    a {
      color: var(--primary);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
