@import "../../style/index.scss";

$max-width: 700px;
$icon-font-size: 40px;

.sync-with-github-page {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .amp-icon {
      margin-right: var(--large-spacing);
      font-size: $icon-font-size;
    }
  }

  &__message {
    @include body1;
    @include regular-14;
    color: var(--black);
    line-height: 1.5;
    margin-bottom: var(--default-spacing);
    max-width: $max-width;
  }

  &__separator {
    margin: var(--large-spacing) 0;
    height: 1px;
    border: none;
    background-color: var(--black5);
  }
}
