@import "../../style/index.scss";

.graph-toolbar {
  position: absolute;
  z-index: 1;
  top: var(--icon-spacing);
  left: var(--icon-spacing);
  padding: var(--icon-spacing) var(--default-spacing);
  background: var(--gray-90);
  border-radius: var(--default-button-radius);
  box-shadow: var(--dropdown-box-shadow);
  border: 1px solid var(--border-color);

  &__divider {
    width: 1px;
    height: var(--default-button-height);
    background: var(--border-color);
  }

  .search-field {
    background: var(--gray-full);
  }
}
