@import "../../style/index.scss";

.generation-settings-form {
  padding: var(--default-spacing-small);
  &__header {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--large-spacing);
    h3 {
      margin: 0;
      @include title-18();
    }
  }

  h2 {
    @include title-14();
  }
  &__toggle_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-field {
    margin-bottom: var(--double-spacing);
    span {
      @include regular-12();
    }
  }
  hr {
    border: none;
    border-top: $border-black10;
    margin-top: var(--double-spacing);
    margin-bottom: var(--double-spacing);
  }
}
