@import "../style/index.scss";

.custom-property-filter {
  border: 1px solid var(--gray-70);
  border-radius: var(--default-border-radius);
  display: flex;
  align-items: center;
  gap: var(--icon-spacing);

  &__show-all {
    padding-right: var(--icon-spacing);
  }
}
