.create-service-repository {
  &__repo_wrapper {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
  }

  &__repo_hr {
    width: 520px;
    height: 1px;
    border: none;
    background: #22273c;
    margin: 32px 0px;
  }

  &__monorepo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
    width: 520px;
    height: 167px;
  }

  &__monorepo_title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: var(--large-spacing);
  }

  &__monorepo_example {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 4px;
    width: 520px;
    height: 137px;
    border: 1px solid #22273c;
    border-radius: 8px;
  }

  &__monorepo_example_app {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    width: 456px;
    height: 18px;
    color: white;
  }

  &__monorepo_example_tree {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 15px;
  }

  &__monorepo_example_tree_folders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    width: 456px;
    height: 57px;
    color: #a3a8b8;
  }

  &__monorepo_box_folder {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 8px;
    gap: 8px;
    width: 456px;
    height: 28px;
    border-radius: 4px;
  }

  &__monorepo_hr {
    width: 1px;
    height: 57px;
    background: #515873;
    border-radius: 1px;
    border: none;
  }

  &__repository_box {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .text-input label {
      margin-bottom: 0;
    }
  }

  &__db_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 520px;
    height: 160px;
    margin-top: 24px;
  }

  &__db_up_buttons {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 24px;
    gap: 8px;
    width: 248px;
    height: 160px;
    background: #15192c;
    border: 1px solid #373d57;
    border-radius: 8px;
  }

  &_db_btn {
    box-sizing: border-box;
    gap: 10px;
    width: 32px;
    height: 32px;
    border: 1px solid #22273c;
    border-radius: 24px;
  }

  &__repository_options {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__repository_btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 24px;
    gap: 8px;
    width: 248px;
    height: 160px;
    background: #22273c;
    border: 1px solid #444b66;
    border-radius: 8px;
  }

  &__repository_btn_text {
    line-height: 18px;
    text-align: center;
    color: #a3a8b8;
  }

  &__repository_base_dir {
    input {
      max-width: none;
      height: auto;
      padding: var(--default-spacing);
      margin-top: 4px;
      font-size: 14px;
      border-radius: 4px;
    }
  }

  &__repository_base_dir_input_box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    background: #15192c;
    border: 1px solid #444b66;
    border-radius: 4px;
  }
}
