@import "../../../style/index.scss";

.create-service-next-steps {
  flex: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  &__link_box_container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 64px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &__top {
      font-size: 38px;
      font-weight: 600;
      color: var(--black100);
    }

    &__bottom {
      font-size: 24px;
      font-weight: 600;
      color: var(--black100);
    }
  }

  &__link_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    height: 160px;
    width: 300px;
    border: 1px solid var(--black10);
    border-radius: 8px;

    &__description {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: 18px;
      font-weight: 600;
      color: var(--black100);
    }
  }
}
