@import "../../../style/index.scss";

.create-generation-settings {
  &__db_box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: center;

    gap: var(--large-spacing);
  }
}
