@import "../../../style/index.scss";

.image-label-toggle {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--default-spacing);
  border: $border-dark;
  border-radius: var(--default-border-radius);
  height: 160px;
  min-width: 220px;
  max-width: 220px;

  &--selected {
    background-color: var(--gray-full);
    box-shadow: 0px 28px 30px -19px rgba(9, 11, 20, 0.5);
  }

  &:hover {
    cursor: pointer;
  }

  .toggle-field {
    .MuiSwitch-root {
      .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
        background-color: #31c587;
      }
    }
  }

  label {
    @include title-18;

    &:hover {
      cursor: pointer;
    }
  }
}
