@import "../../../style/index.scss";

.label-description-selector {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--default-spacing-small);
  cursor: pointer;
  border: 1px solid var(--gray-70);
  border-radius: 8px;
  padding: 24px;
  height: 110px;
  min-width: 200px;
  max-width: 200px;
  box-shadow: 0px 0px 0px 0px rgba(9, 11, 20, 0);
  transition: box-shadow 0.3s ease-in-out;

  &__template {
    justify-content: flex-start;
  }

  &__template_description {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--gray-20);
    width: 216px;
  }

  &.selected {
    background-color: var(--gray-80);
    box-shadow: 0px 28px 30px -19px rgba(9, 11, 20, 0.5);
  }

  label {
    @include title-18;
    white-space: pre;
    cursor: pointer;
  }

  &__description {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--gray-20);
  }

  &__subDescription {
    line-height: 15px;
    font-size: 10px;
    color: #53dbee;
  }

  &__logo {
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid var(--gray-90);
    border-radius: 24px;

    &.medium {
      width: 20px;
      height: 20px;
    }

    &.large {
      width: 32px;
      height: 32px;
    }
  }

  .circle-badge.medium .amp-icon {
    color: var(--gray-base);
  }
}
