@import "../Style/parameters.scss";

.entity-field-list-item {
  height: 32px;
  color: var(--dark-gray);
  padding: 0;
  font-size: var(--title2-font-size);

  i {
    margin-left: var(--default-spacing);
    margin-right: var(--default-spacing);
    color: var(--primary);
  }
}
