@import "../Style/parameters.css";

.entity-list-item {
  padding: 0;
  margin: var(--default-spacing);
  max-width: 250px;
  border: 1px solid var(--primary);
  border-top-width: 4px;

  h2 {
    margin: 0px;
    font-size: var(--title1-font-size);
    font-weight: normal;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-spacing);
    border-bottom: 1px solid var(--gray);
  }
}
