.entity-list-item {
  padding: 0 16px 16px;
  margin: 16px;
}

.entity-list-item header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.entity-list-item > .fields,
.entity-list-item > .actions {
  display: flex;
  flex-direction: row;
}

.entity-list-item > .fields .mdc-button,
.entity-list-item .actions .mdc-button {
  margin-right: 8px;
  margin-top: 8px;
}

.entity-list-item .actions {
  margin-left: auto;
}
