@import "../Style/parameters.css";

.entities-side-bar {
  .mdc-tab-bar,
  .mdc-tab-scroller,
  .mdc-tab-scroller__scroll-area,
  .mdc-tab {
    height: 42px;
  }

  .mdc-tab {
    width: 156px;
    padding: 0;
    margin-right: 2px;
    box-sizing: border-box;

    &__text-label {
      color: var(--dark-gray);
    }
  }

  .mdc-tab--active .mdc-tab__text-label {
    color: var(--dark-purple);
  }
}
