.entities {
  flex: 1;
  position: relative;
}

.entities > header {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entities .actions {
  margin-left: auto;
}

.entities .actions .mdc-icon-button,
.entities .actions .mdc-icon-button:after,
.entities .actions .mdc-icon-button:before {
  border-radius: 5px;
}

.entities .actions .mdc-icon-button {
  background: white;
  margin-right: 16px;
}
