.entity {
  padding: 0 16px 16px;
  margin: 16px;
}

.entity header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.entity > .actions {
  display: flex;
  flex-direction: row;
}

.entity .actions {
  margin-left: auto;
}
