@import "../Style/parameters.css";

.side-bar.mdc-drawer {
  width: 340px;
  border-left: 1px solid var(--mid-gray);
  /**@todo: convert side-bar to a generic component and set position dynamically    */
  position: absolute;
  right: 0;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));

  .mdc-tab-bar,
  .mdc-tab-scroller,
  .mdc-tab-scroller__scroll-area,
  .mdc-tab {
    height: 42px;
  }

  .mdc-tab {
    width: 156px;
    padding: 0;
    margin-right: 2px;
    box-sizing: border-box;

    &__text-label {
      color: var(--dark-gray);
    }
  }

  .mdc-tab--active .mdc-tab__text-label {
    color: var(--dark-purple);
  }

  &__header,
  &__content p {
    padding: 0 18px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
