@import "../Style/parameters.css";

.side-bar {
  &.mdc-drawer {
    width: 340px;
    border-left: 1px solid var(--mid-gray);

    .mdc-tab-bar,
    .mdc-tab-scroller,
    .mdc-tab-scroller__scroll-area,
    .mdc-tab {
      height: 42px;
    }

    .mdc-tab {
      width: 156px;
      padding: 0;
      margin-right: 2px;
      box-sizing: border-box;

      .mdc-tab__text-label {
        color: var(--dark-gray);
      }
    }

    .mdc-tab--active .mdc-tab__text-label {
      color: var(--dark-purple);
    }

    .mdc-drawer__header,
    .mdc-drawer__content p {
      padding: 0 18px;
    }

    .mdc-drawer__content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}
