@import "../Style/parameters.css";

.tools {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  hr {
    height: 0;
    border: 1px solid var(--mid-gray);
    width: 100%;
    margin: 0 auto;
  }

  .tool {
    width: 90px;
    height: 90px;
    padding: 18px 8px;
    border: 1px solid var(--gray);
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    color: #0e052c;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    margin-left: 17px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 3px;
    transition: box-shadow 0.2s;
    box-shadow: none;
    text-align: center;
  }

  .tool:nth-child(3) {
    margin-right: 0;
  }

  .icon {
    height: 30px;
    width: 30px;
    display: block;
  }

  .tool:hover {
    box-shadow: 0px 7px 10px rgba(71, 35, 177, 0.06);
  }

  .tool:active {
    color: var(--primary);
    box-shadow: none;
  }
}
