@import "../style/index.scss";

$max-width: 700px;
.auth-app-with-github {
  max-width: $max-width;
  margin-left: 0;

  &__body {
    @include flexFullRowWithSpacing;

    &__name {
      @include title1;
      padding-bottom: var(--default-spacing-small);
    }
  }
}
