@import "../../style/index.scss";

.github-tile-footer {
  &__user-details {
    @include flexVerticalCenter();
    margin-bottom: 12px;

    &__info-icon {
      color: var(--negative);
      margin-right: 8px;
    }

    &__dp {
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      border: none;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    &__name {
      margin-left: 8px;
      color: var(--black80);
    }
  }

  &__sync-details {
    @include flexVerticalCenter();
    &__text {
      margin-left: 8px;
      color: var(--black100);
    }
  }
}
