@import "../../style/index.scss";

.generation-settings-form {
  padding: var(--default-spacing-small);
  &__header {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--large-spacing);
    h3 {
      margin: 0;
      @include title-18();
    }
  }
  &__description {
    @include regular-14();
  }
  &__formWrapper_field {
    width: 280px;
  }
  h2 {
    font-size: 14px;
  }
  &__toggle_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-field {
    margin-right: 26px;
    span {
      @include regular-12();
    }
  }
  hr {
    border: none;
    border-top: $border-black10;
    margin-top: var(--double-spacing);
    margin-bottom: var(--double-spacing);
  }
}
