@import "../../style/index.scss";

.select-menu {
  & &__item {
    border-bottom: none;
    color: var(--black80);
    background-color: var(--black2);
    flex-direction: row-reverse;
    justify-content: space-between;

    &--selected,
    &[aria-checked="true"] {
      color: var(--black100);
    }
    &:hover {
      background-color: var(--black5);
    }
  }

  & &__modal {
    > div {
      border: $border-black10;
      box-shadow: var(--modal-box-shadow);
      border-radius: 3px;
    }

    .select-menu__filter {
      padding: var(--default-spacing);
      padding-left: 0;
      border-bottom: $border-black10;
    }
  }
}

.SelectMenu-icon {
  margin-right: var(--double-spacing) !important;
}
