@import "../style/index.scss";

.purchase-menu-item {
  .amp-menu-item {
    i {
      color: var(--gray-base);
    }

    &:before {
      background-color: var(--primary);
    }
  }
}

.purchase-menu-item__popover {
  .amp-popover {
    &__content {
      background: var(--gray-full) !important;

      padding: var(--default-spacing) !important;
      border: $border-dark0;
    }

    &__arrow {
      color: var(--gray-base) !important;
    }
  }

  &__highlight {
    color: var(--theme-turquoise);
  }
}
