@import "../style/index.scss";

.resource-form {
  &__header {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--large-spacing);
    h3 {
      margin: 0;
    }
  }
  h1 {
    margin-top: var(--double-spacing);
    margin-bottom: var(--double-spacing);
  }
  padding: var(--default-spacing-small);

  hr {
    border: none;
    border-top: $border-black10;
    margin-top: var(--double-spacing);
    margin-bottom: var(--double-spacing);
  }
}
