.application-home {
  flex: 1;
}

.application-home header {
  background: white;
  overflow: hidden;
  margin-bottom: 28px;
}

.application-home main .mdc-card {
  padding: 17px 10px;
  margin: 28px 39px;
}
