.app {
  display: flex;
  flex-direction: row;
}

.app header {
  background: white;
  overflow: hidden;
  margin-bottom: 28px;
}

.app main {
  flex: 1;
}

.app main .mdc-card {
  padding: 17px 10px;
  margin: 28px 39px;
}
