@import "../../../../style/index.scss";
@import "../GitDialogsIndex.scss";

.git-create {
  overflow: auto;

  &__button {
    @include flexFullRowWithSpacing;
    width: 100%;
    justify-content: center;
  }
}
