.limitation-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #444b66;
  border-radius: 8px;
  color: var(--black80);
  min-height: 42px;

  .upgrade-link {
    color: #53dbee;
    text-decoration: underline;
    font-weight: 500;
    margin-left: 4px;
  }
}
