@import "../style/index.scss";

.side-bar-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  width: 280px;
  height: 906px;
  background: #15192c;
  border: 1px solid #373d57;
  border-radius: 8px;

  &__label {
    width: 248px;
    height: 18px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #a3a8b8;
  }

  &__tabs {
    @include scrollbars(10px, var(--black60), transparent);
    padding: var(--large-spacing);
    overflow: auto;
  }
}
