@import "../style/index.scss";

.project-page {
  display: flex;
  height: 100%;
  align-items: stretch;

  &__sidebar {
    flex-grow: 1;
    padding: 16px;
  }

  &__sidebar-content {
    border: 1px solid var(--black5);
    border-radius: 4px;
    height: 100%;
  }

  &__content {
    flex-grow: 20;
    border: 1px solid var(--black5);
    border-radius: 4px;
  }
}
