@import "../style/index.scss";
$svg-img-width: 200px;
$svg-img-height: 200px;

.project-page {
  display: flex;
  height: 100%;
  flex: 1 auto;

  .commit-page-empty-state {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 44%;
    top: 28%;
    p {
      @include regular-12;
      color: var(--black20);
      margin: 0 auto;
    }
    .svg-theme-image {
      width: $svg-img-width;
      height: $svg-img-height;
    }
  }
}
