@import "../style/index.scss";

.project-sidebar {
  @include flexColumn;
  padding: var(--large-spacing);
  &__project-wrapper {
    flex-grow: 1;
    width: 100%;
  }
  &__label {
    @include regular-12;
    margin-bottom: 8px;
    color: var(--black80);
  }

  &__divider {
    border: 1px solid var(--black5);
    width: 99%;
  }
}
