@import "../../style/index.scss";

$box-height: 160px;
$box-width: 200px;
$border-radius: 8px;

.apply-changes-next-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;

  &__box_container {
    display: flex;
    justify-content: space-between;
    gap: var(--double-spacing);
    margin: var(--double-spacing) 0;
  }
}
