@import "../../style/index.scss";

.entities-erd {
  width: 100%;
  height: 100%;

  .react-flow__node.selected {
    div {
      border-color: var(--gray-base) !important;
    }
  }
  .react-flow__attribution {
    font-size: calc(var(--normal-font-size) - 2px);
    background: var(--gray-90) !important;
    padding: 0 4px !important;
  }
}
