@import "../../style/index.scss";

.model-group-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  &__filter {
    display: flex;
    width: 40px;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #2c3249;
    background: #15192c;
  }

  &__selectedNode {
    margin: 6px;
    border-radius: 4px;
    gap: 4px;
    border: 1px solid var(--border-color);
  }

  &__hr {
    border: none;
    border-top: 1px solid var(--border-color);
    width: 100%;
  }

  &__serviceBox {
    border-radius: 4px;
    border: 1px solid;
    margin: 6px;
  }

  &__modelToolBtn {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin: 6px;
    border: 1px solid var(--border-color);
  }
}
