@import "../../style/index.scss";

$width: 800px;
$max-height: 60vh;
$max-width: 50vh;

.model-organizer-confirmation {
  display: flex;
  flex-direction: column;
  gap: var(--large-spacing);
  max-height: $max-height;
  width: $width;
  max-width: calc($max-width - (var(--double-spacing) * 2));
  overflow: auto;
}
