@import "../../style/index.scss";

.model-group-list {
  &__filter {
    width: 44px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    gap: 4px;
    padding: 8px;
    background-color: #15192c;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__selectedNode {
    margin: 6px;
    border-radius: 4px;
    gap: 4px;
    border: 1px solid var(--border-color);
  }

  &__modelGroups {
    border-radius: 4px;
    border: 1px solid;
    margin: 6px;
  }

  &__modelToolBtn {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
  }
}
