@import "../../style/index.scss";

.model-group-list {
  width: 40px;
  height: 330px;
  gap: 8px;

  &__filter {
    width: 40px;
    height: 174px;
    margin-bottom: 4px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    gap: 4px;
    color: #a3a8b8;
    background-color: #15192c;
  }

  &__selectedNode {
    margin: 6px;
    border-radius: 4px;
    gap: 4px;
    border: 1px solid var(--border-color);
  }

  &__modelGroups {
    border-radius: 4px;
    border: 1px solid;
    margin: 6px;
    border-color: blue;
  }
}
