@import "../style/index.scss";

.back-navigation {
  @include body2;
  @include semiBold;
  color: var(--black100);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  a {
    color: var(--primary);

    &:hover,
    &:active,
    &:visited {
      color: var(--primary);
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
