@import "../style/index.scss";

.build-selector {
  .select-menu {
    margin-left: 0;
    .select-menu__modal > div {
      width: 264px;
    }
  }
  .amp-button {
    width: 100%;
  }
  .amp-button--secondary {
    justify-content: left;
  }
}
