@import "../style/index.scss";

.build-selector {
  &__label-title {
    padding-bottom: 4px;
    color: var(--black80);
  }

  &__hour {
    @include regular-10; 
    color: var(--black80);
  }

  .select-menu {
    margin-left: 0;
    .select-menu__modal > div {
      width: 264px;
    }
  }
  .amp-button {
    width: 100%;
  }
  .amp-button--secondary {
    justify-content: left;
  }
}
