@import "../style/index.scss";

.build-selector-item {
  @include flexFullRowWithSpacing;
  .circle-badge {
    width: 16px;
    min-width: 16px;
    height: 16px;
    font-size: 10px;
  }
  .title {
    max-width: 185px;
    width: 185px;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 12px;
  }

  .title-list {
    max-width: 180px;
    font-size: 12px;
  }
}
