@import "../style/index.scss";

.amp-button {
  height: var(--default-button-height);
  min-width: 120px;
  border-radius: var(--default-button-radius) !important;
  border: $border-primary;
  box-sizing: border-box;
  /** @todo: create mixin for font size and weight */
  font-size: var(--normal-font-size) !important;
  font-weight: 500 !important;
  box-shadow: none !important;
  position: relative;
  display: block;
  letter-spacing: 1px;
  font-family: var(--primary-font-family);

  &[disabled] {
    cursor: default;
    font-family: var(--primary-font-family);
  }

  &.amp-button--primary {
    background-color: var(--primary);
    color: var(--white);
    border: $border-primary;
    box-shadow: var(--primary-box-shadow) !important;

    &:hover,
    &:active {
      background-color: var(--dark-purple);
      border: $border-primary;
    }

    &[disabled] {
      background-color: var(--primary-disabled);
      color: var(--white);
    }
  }

  &.amp-button--secondary {
    background-color: var(--white);
    color: var(--black100);
    border: $border-black20;

    &:hover,
    &:active {
      border-color: var(--primary);
    }
  }

  &.amp-button--clear {
    background-color: transparent;
    color: var(--black40);
    border: none;
    min-width: var(--default-button-height);
    height: var(--default-button-height);
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:active {
      color: var(--primary);
      background-color: transparent;
    }
  }

  &.amp-button--split {
    padding-right: 39px;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 29px;
      border: none;
      border-left: 1px solid #9779eb;
      line-height: 32px;
      font-size: 25px;
    }

    &[disabled]:after {
      border-left-color: #e3dafb;
    }

    &.amp-button--secondary {
      &:after {
        border-left-color: var(--black20);
      }

      .icon-split {
        color: var(--primary);
      }
    }
    .icon-split {
      position: absolute;
      right: 0px;
      top: 0;
      width: 29px;
      line-height: 32px;
      font-size: 20px;
    }
  }
}
