.circle-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--white);
  padding: 5px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;

  &--success {
    background-color: var(--success);
  }
}
