@import "../style/index.scss";

.color-select-button {
  .amp-button {
    width: var(--default-button-height);
    height: var(--default-button-height);
    border-radius: 50%;
    background-color: red;

    &:hover {
      background-color: initial;
    }
  }
  margin-right: var(--default-spacing);
  &:first-child {
    margin-left: 0;
  }
}
