@import "../style/index.scss";

.commit-selector-item {
  @include flexFullRowWithSpacing;
  flex: 1;
  &__title {
    display: flex;
    flex: 1;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    @include regular-12;
    justify-content: space-between;
  }
}
