@import "../style/index.scss";

.create-resource-button {
  position: relative;

  .select-menu__item {
    display: flex;
    align-items: center;
    padding: var(--default-spacing);

    .circle-badge {
      margin-right: var(--default-spacing);
    }
  }
}
