@import "../style/index.scss";
$button-width: 180px;
$caret-width: 7px;

.create-resource-button {
  position: relative;

  .amp-button {
    width: $button-width;
  }

  .select-menu__modal {
    top: calc(100% + ($caret-width / 2));

    > div {
      &::before {
        content: "";
        z-index: 1;
        width: $caret-width;
        height: $caret-width;
        position: absolute;
        background: linear-gradient(
          135deg,
          var(--black2) 50%,
          rgba(0, 0, 0, 0) 50%
        );
        left: 88%;
        transform: rotate(45deg) translateY(-85%);
        border: $border-black30;
        border-bottom: none;
        border-right: none;
        border-radius: 2px;
      }
    }
  }

  .select-menu__item {
    display: flex;
    align-items: center;
    padding: var(--default-spacing);

    .circle-badge {
      margin-right: var(--default-spacing);
    }
  }
}
