@import "../Style/parameters.scss";

.editable-title-field {
  margin-bottom: 0;
  label {
    display: inline;

    > span {
      display: none;
    }
  }
  input {
    display: inline;
    width: auto;
    border-color: transparent;
    background: none;
    @include pageTitle;
    margin-left: calc(var(--default-spacing) * -1);
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
  }

  &--secondary {
    input {
      color: var(--black60);
      @include title1;
      font-weight: normal;
    }
  }
}
