@import '../style/index.scss';

.amp-error-message {
  @include body2;
  background-color: var(--negative-light-transparent);
  padding: var(--default-spacing-small);
  border-radius: var(--default-border-radius);
  color: var(--black80);
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid var(--negative);

  .amp-icon {
    margin-right: var(--default-spacing);
    color: var(--negative);
    font-weight: bold;
  }
}