@import "../style/index.scss";

.amp-feature-indicator {
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__tooltip__window {
    .amp-icon {
      color: var(--theme-turquoise);
    }
  }
}
