@import "../style/index.scss";

.with-feature-control {
  &__children {
    display: flex;
    align-items: center;
    gap: var(--default-spacing-small);

    &.reverse-position {
      flex-direction: row-reverse;
    }
  }
}
