@import "../style/index.scss";

.multi-state-toggle {
  margin-bottom: var(--form-field-spacing);

  label {
    @include label;
  }

  .mdc-chip-set {
    padding: 0;

    .mdc-chip {
      margin: 0px;
      flex: 1;
      border-radius: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      color: var(--black60);
      height: var(--default-button-height);
      padding: 0;
      background-color: var(--black5);
      border: $border-black10;

      &__text__primary-action:focus {
        outline: none;
      }

      &:first-child {
        border-radius: var(--form-elements-border-radius) 0 0
          var(--form-elements-border-radius);
        .mdc-chip__ripple {
          border-radius: var(--form-elements-border-radius) 0 0
            var(--form-elements-border-radius);
        }
      }

      &:last-child {
        border-radius: 0 var(--form-elements-border-radius)
          var(--form-elements-border-radius) 0;
        .mdc-chip__ripple {
          border-radius: 0 var(--form-elements-border-radius)
            var(--form-elements-border-radius) 0;
        }
      }

      &.mdc-chip--selected {
        background-color: var(--primary);
        color: var(--white);
        border-color: var(--primary);
      }

      .mdc-chip__ripple {
        border-radius: 0;
      }
    }
  }
}
