@import "../Style/parameters.css";

.multi-state-toggle {
  .mdc-chip {
    margin: 0px;
    flex: 1;
    border-radius: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--black60);
    height: var(--default-button-height);
    padding: 0;

    &:first-child {
      border-radius: var(--form-elements-border-radius) 0 0
        var(--form-elements-border-radius);
    }

    &:last-child {
      border-radius: 0 var(--form-elements-border-radius)
        var(--form-elements-border-radius) 0;
    }

    &.mdc-chip--selected {
      background-color: var(--dark-purple);
      color: var(--white);
    }

    .mdc-chip__ripple {
      border-radius: 0;
    }
  }
}
