@import "../style/index.scss";

$expandable-bottom-max-height: 200px;
$expandable-transition-duration: 0.1s;

.amp-panel {
  background: var(--white);
  border-radius: var(--default-border-radius);
  border: none;
  box-sizing: border-box;
  padding: var(--large-spacing);
  margin: var(--large-spacing);

  > hr.panel-divider {
    margin: var(--large-spacing) calc(var(--large-spacing) * -1);
  }

  &--transparent {
    background: transparent;
    margin: var(--large-spacing) calc(var(--large-spacing) * -1);
  }
  &--shadow {
    box-shadow: var(--default-box-shadow);
  }

  &--bordered {
    border: $border-black10;
    margin-bottom: var(--large-spacing);
  }

  & &__header {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--large-spacing);

    h2,
    h3 {
      margin: 0;
    }
  }

  & &__expandable-bottom {
    max-height: 0;
    transition: all $expandable-transition-duration ease-in;
    overflow: hidden;
    border-top: $border-black10;
    border-top-color: transparent;
    margin-left: calc(var(--large-spacing) * -1);
    margin-right: calc(var(--large-spacing) * -1);
    margin-bottom: calc(var(--large-spacing) * -1);
    @include scrollbars($default-scroll-width, var(--black60), transparent);
    padding-left: var(--large-spacing);
    padding-right: var(--large-spacing);

    &--open {
      max-height: $expandable-bottom-max-height;
      overflow-y: auto;
      padding: var(--large-spacing);
      padding-bottom: 0;
      border-top-color: var(--black10);
      margin-bottom: 0;
    }
  }
}
