@import "../style/index.scss";

$expandable-bottom-max-height: 200px;
$expandable-transition-duration: 0.3s;

.amp-panel-collapsible {
  background-color: var(--black2);
  border: $border-black10;
  padding: 0;

  &--open {
    .amp-panel-collapsible__header__collapse {
      transform: rotate(180deg);
    }
  }
  &__header {
    @include flexFullRow;
    justify-content: stretch;

    padding: var(--default-spacing);
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;

    &__collapse {
      transform: rotate(0);
      transition: transform $expandable-transition-duration ease-in;
      height: var(--medium-button-height) !important;
    }

    &__content {
      flex: 1;
      @include flexFullRowWithSpacing;
      h2,
      h3 {
        margin: 0;
      }
      .amp-button {
        height: var(--medium-button-height);
        border-radius: var(--medium-button-radius);
      }
    }
  }
  &__body {
    ul.panel-list {
      margin: calc(var(--default-spacing) * -1) calc(var(--large-spacing) * -1);
      padding: 0;
      padding: var(--default-spacing) var(--large-spacing);

      li {
        padding: var(--large-spacing);
        border-bottom: $border-black10;
        list-style: none;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
