@import "../style/parameters.scss";

.select-field {
  label {
    @include label;
  }

  .select-field__container {
    font-size: var(--normal-font-size);
  }
  /**@todo: convert all class selector for component child elements to "& &__child" */
  .select-field__control {
    @include textField;
    padding: 0;

    &--is-focused,
    &:hover {
      border-color: var(--primary);
      box-shadow: none;
      transition: border-color 0.2s ease-in, color 0.2s ease-in;

      .select-field__single-value {
        color: var(--black100);
      }
    }
    .select-field__input {
      input {
        &:focus,
        &:hover,
        &:active {
          border: none !important;
        }
      }
    }
  }

  .select-field__single-value {
    color: var(--black60);
  }

  .select-field__option {
    color: var(--black60);
    background-color: var(--white);

    &:hover {
      background-color: var(--black5);
    }
    &--is-focused {
      background-color: var(--black5);
    }
    &--is-selected {
      color: var(--primary);
      font-weight: 500;
    }
  }
}
