@import "../Style/parameters.scss";

.select-menu {
  margin-left: var(--default-spacing);
  color: var(--black80);
  // .SelectMenu-icon {
  //   // .SelectMenu-selected-icon {
  //   //   display: none !important;
  // }

  .select-menu__item {
    border-bottom: 1px solid var(--black10);
    color: var(--black80);

    &--selected,
    &[aria-checked="true"] {
      color: var(--black100);
    }
    &:hover {
      background-color: var(--black5);
    }
  }

  .select-menu__modal {
    > div {
      border: 1px solid var(--black10);
      box-shadow: var(--default-box-shadow);
      border-radius: 3px;
    }
  }
}
