@import "../style/index.scss";

.text-field {
  margin-bottom: var(--form-field-spacing);

  &--with-trailing-button .text-field__inner-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .amp-button {
      border-radius: 0 3px 3px 0 !important;
      margin-bottom: var(--default-spacing-small);
    }
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: var(--default-button-height);
      border-right: 0;
      &:active,
      &:hover,
      &:focus {
        border-right: 0;
      }
    }
  }

  label {
    @include label;
  }

  textarea {
    height: 130px;
    resize: none;
  }
  input,
  textarea {
    @include textField;

    &:active,
    &:hover,
    &:focus {
      @include textField--active;
    }
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
  }
}
