@import "../Style/parameters.scss";

.text-field {
  margin-bottom: var(--form-field-spacing);

  label {
    @include label;
  }

  input {
    height: 36px;
  }

  textarea {
    height: 130px;
  }
  input,
  textarea {
    font: inherit;
    font-size: var(--normal-font-size);

    padding: calc(var(--default-spacing) / 2) var(--default-spacing);
    background-color: var(--black5);
    border: 1px solid var(--black10);
    border-radius: var(--form-elements-border-radius);
    width: 100%;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
  }
}
