@import "../style/index.scss";

.text-input {
  margin-bottom: var(--form-field-spacing);
  position: relative;

  &--with-trailing-button .text-input__inner-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .amp-button {
      border-radius: 0 var(--default-border-radius) var(--default-border-radius)
        0 !important;
      margin-bottom: var(--default-spacing-small);
    }
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: var(--default-button-height);
      border-right: 0;
      &:active,
      &:hover,
      &:focus {
        border-right: 0;
      }
    }
  }

  .circle-icon {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }

  &__error {
    color: var(--negative);
  }
  label {
    @include label;
    position: relative;
  }

  input,
  textarea {
    @include textField;

    &:active,
    &:hover,
    &:focus {
      @include textField--active;
    }

    &:disabled {
      @include textField--disabled;
    }
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    height: var(--textarea-height);
    resize: none;
  }

  &--has-error {
    input,
    textarea {
      border-color: var(--negative);

      &:active,
      &:hover,
      &:focus {
        border-color: var(--negative);
      }
    }
  }
}

$tooltip-size-gap: 10px;
$tooltip-top: 52px;
$tooltip-animation-duration: 0.2s;

.amp-name-field {
  position: relative;
  input,
  input:active,
  input:hover,
  input:focus {
    color: var(--secondary-light-blue);
    font-style: italic;
  }

  &__tooltip {
    position: absolute;
    background: var(--black80);
    color: var(--white);
    width: calc(100% - 40px);
    left: $tooltip-size-gap;
    top: $tooltip-top;
    border: $border-black10;
    padding: var(--default-spacing);
    border-radius: var(--default-border-radius);
    z-index: 99;
    margin: 0;
    box-shadow: var(--default-box-shadow);
    animation-name: fade;
    animation-duration: $tooltip-animation-duration;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
}
