@import "../style/parameters.scss";

.text-field {
  margin-bottom: var(--form-field-spacing);

  label {
    @include label;
  }

  input {
    height: 36px;
  }

  textarea {
    height: 130px;
    resize: none;
  }
  input,
  textarea {
    @include textField;

    &:active,
    &:hover,
    &:focus {
      @include textField--active;
    }
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
  }
}
