@import "../style/index.scss";

.toggle-button {
  display: inline;

  label {
    position: relative;
    overflow: hidden;
    span {
      @include tag;
      cursor: pointer;
    }

    input {
      position: absolute;
      width: 0;
      height: 0;

      &:hover + span {
        background-color: var(--black20);
        color: var(--white);
      }

      &:focus + span {
        background-color: var(--black20);
        color: var(--white);
      }

      &:checked + span {
        background-color: var(--secondary);
        color: var(--white);
      }

      &:checked:hover + span {
        background-color: var(--primary);
        color: var(--white);
      }

      &:checked:focus + span {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }
}
