.user-avatar {
  height: var(--medium-button-height);
  margin: 0;
  padding: 0;
  position: relative;
  width: var(--medium-button-height);

  & &__initials {
    box-sizing: border-box;
    background-color: var(--secondary4);
    border-radius: 100px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--medium-button-height);
    text-align: center;
    width: var(--medium-button-height);
    color: var(--white);
    font-size: var(--title2-font-size);
    text-transform: capitalize;
  }
}
