.user-avatar {
  height: var(--medium-button-height);
  margin: 0;
  padding: 0;
  position: relative;
  width: calc(var(--medium-button-height) - 5px);

  & &__initials {
    box-sizing: border-box;
    background-color: var(--secondary4);
    border-radius: 100px;
    display: inline-block;
    height: var(--medium-button-height);
    line-height: var(--medium-button-height);
    text-align: center;
    width: var(--medium-button-height);
    color: var(--white);
    font-size: var(--title2-font-size);
    text-transform: capitalize;
  }
}
