@import "../../../../style/index.scss";

:root {
  --min-height-of-banner: 70px;
}

.repository-actions {
  &__auth {
    margin: var(--medium-spacing) 0;
    min-height: var(--min-height-of-banner);
    display: flex;
    background: var(--gray-full);
  }

  &__wizard_auth {
    margin: var(--default-spacing-small) 0 var(--double-spacing) 0;
    min-height: var(--min-height-of-banner);
    display: flex;
    background: var(--gray-full);
  }
  &__action {
    margin-left: var(--default-spacing-small);
    margin-right: var(--default-spacing-small);
  }
  &__actions {
    display: flex;
    justify-content: space-between;
  }
  &__select-repo {
    @include flexFullRowWithSpacing;
    flex: 1;
    &__details {
      @include flexFullRowWithSpacing;
      .amp-icon {
        margin-right: var(--default-spacing-small);
        color: var(--color-negative);
      }
      color: var(--color-negative);
    }

    &__name {
      @include title1;
      padding-bottom: var(--default-spacing-small);
    }
  }
}
