@import "../style/index.scss";

.modules-header {
  &__operation-toggle {
    .toggle-field {
      border: $border-dark;
      border-radius: 20px;
      .MuiSwitch-root {
        border-radius: 8px;
        .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
          background-color: var(--gray-full);
        }
        .MuiSwitch-switchBase:not(.Mui-checked) + .MuiSwitch-track {
          background-color: var(--gray-full);
        }
      }
    }
  }
}
