@import "../style/index.scss";

$image-height: 130px;
$dropdown-max-height: 150px;

.new-module {
  .text-input input {
    border-style: dashed;
  }

  &__add-field {
    position: relative;
    width: 100%;

    &__button {
      position: absolute !important;
      top: 0;
      right: 0;
      display: none !important;

      &--show {
        display: flex !important;
      }
    }
  }

  &__module-dialog {
    @include modalForm;
    .svg-theme-image {
      height: $image-height;
    }

    .select-field {
      max-width: none;

      &__menu-list {
        max-height: $dropdown-max-height;
      }
    }
  }
}
