@import "../../style/index.scss";

.code-view-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &__heading {
    h2 {
      @include title1;
    }
  }

  .build-selector {
    padding-bottom: var(--default-spacing);
  }
}
