@import "../../style/index.scss";
.code-view-sync-with-github {
  &__message {
    color: var(--warning-default);
    padding: var(--default-spacing) 0;
  }

  &__connected{

    &__details{
      @include flexFullRowWithSpacing;
    }
  }

  .amplication-label{
    color: var(--black90);
  }

  .amp-button {
    width: 100%;
  }

  hr {
    border: none;
    border-top: $border-black10;
    margin-top: var(--double-spacing);
    margin-bottom: var(--double-spacing);
  }
}
