@import "../../style/index.scss";

.code-view-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: var(--default-spacing);

  &__heading {
    h2 {
      @include title1;
    }
  }
}
