@import "../../../style/index.scss";

.model-group-node {
  background-color: var(--gray-full);
  width: 100%;
  height: 100%;
  border: $border-dark;
  border-top: 6px solid var(--secondary);
  border-radius: var(--default-button-radius);
  padding: var(--default-spacing);

  &.drop-target {
    border-width: 2px;
    border-color: var(--theme-turquoise);
  }
}
