@import "../../../style/index.scss";

.model-node {
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--gray-full);
  box-shadow: "box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)";
  border: $border-dark;

  &--simple {
    .model-node__display_name {
      border-bottom: none;
    }
  }

  &.model-with-pending-changes {
    border-color: var(--theme-turquoise);
  }

  &__display_name {
    padding: var(--default-spacing-small) 0;
    margin-left: var(--default-spacing);
    margin-right: var(--default-spacing);

    border-bottom: $border-dark;
  }

  &__column_container {
    padding: var(--default-spacing-small) 0;
  }
  &__column_inner_container {
    display: flex;
    position: relative;
  }
  &__column_display_name {
    padding-left: var(--default-spacing);
    padding-right: var(--default-spacing);
    align-items: center;
    display: flex;
    font-size: var(--normal-font-size);
    gap: var(--default-spacing-small);
    &_datatype {
      color: var(--theme-blue);
      font-weight: 200;
      font-size: calc(var(--normal-font-size) - 2px);
    }
    &_custom_attributes {
      color: var(--theme-turquoise);
      font-weight: 200;
      font-size: calc(var(--normal-font-size) - 2px);
    }
  }
  &__handle {
    &_left {
      left: -2px !important;
      border-radius: 0 !important;
      border-width: 0 !important;
      width: 0.5rem !important;
      height: 100% !important;
      background-color: transparent !important;
    }

    &_right {
      right: -2px !important;
      border-radius: 0 !important;
      border-width: 0 !important;
      width: 0.5rem !important;
      height: 100% !important;
      background-color: transparent !important;
    }
  }
}
