@import "../../../style/index.scss";

hr {
  border: none;
  border-top: $border-black10;
  margin-left: var(--default-spacing-small);
  margin-right: var(--default-spacing-small);
  background-color: var(--black2);
  display: flex;
  width: 100%;
}
.git-organization-select-menu {
  &__menu {
    margin-left: 0 !important;
  }
  &__hr {
    background-color: var(--menu-background-color);
    border-bottom: none;
    width: 100%;
    display: flex;
  }
}
