@import "../../../style/index.scss";

.git-organization-select-menu {
  &__menu {
    margin-left: 0 !important;
  }
  &__hr {
    background-color: var(--black2);
    border-bottom: none;
    width: 100%;
    display: flex;

    hr {
      border: none;
      border-top: $border-black10;
      margin-left: var(--default-spacing-small);
      margin-right: var(--default-spacing-small);
      background-color: var(--black2);
      display: flex;
      width: 100%;
    }
  }
  &__add-icon {
    position: absolute;
    margin-right: var(--double-spacing);
  }
}
