@import "../style/index.scss";

.entity-field-list {
  &__container {
    border-bottom: 1px solid #2c3249;
    margin-bottom: 16px;
  }
  &__header {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--large-spacing);
    width: 220px;
    .search-field {
      flex: 1;
    }
  }
  &__title {
    @include body2;
    margin-bottom: var(--large-spacing);
  }
  &__add-button {
    min-width: 0;
  }
}
