@import "../style/index.scss";

.entity-field-list {
  &__header {
    @include flexFullRowWithSpacing;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--black5);
    margin-bottom: var(--large-spacing);
    .search-field input {
      width: 220px;
    }
  }
  &__title {
    @include body2;
    margin-bottom: var(--large-spacing);
  }
  &__add-button {
    min-width: 0;
  }
}
