@import "../style/index.scss";

.related-entity-field-field {
  margin-top: var(--default-spacing);
  label {
    display: block;
    font-size: var(--text-field-label-font-size);
    color: var(--gray-30);

    margin-bottom: 0;
  }
  &__highlight {
    color: var(--gray-base);
  }

  &__error {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .amp-icon {
      color: var(--theme-red);
    }

    > * {
      margin-right: var(--default-spacing);
    }
  }
}
