@import "../style/index.scss";
$button-width: 180px;

.create-resource-button {
  position: relative;

  .amp-button {
    width: $button-width;
  }

  .select-menu__modal {
    > div {
      width: $button-width;
    }
  }
  .select-menu__item {
    width: $button-width;
    display: flex;
    align-items: center;
    padding: var(--default-spacing);

    .circle-badge {
      margin-right: var(--default-spacing);
    }
  }
}
