@import "../style/index.scss";

.usage-insights {
  background-color: var(--gray-70);
  padding: var(--default-spacing);
  border-radius: var(--default-border-radius);
  margin-bottom: var(--default-spacing);
}
