@import "../style/index.scss";

$max-width: 400px;

.usage-insights-data-box {
  width: 100%;
  flex: 1;
  margin-bottom: 0;
  border: 1px solid var(--gray-70);

  &__content {
    height: 100%;
  }

  &__tooltip {
    align-self: flex-end;
  }

  h1,
  h3 {
    display: inline;
  }
}
