@import "../../style/index.scss";

$max-width: 700px;
$icon-font-size: 40px;

.sync-with-github-page {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .amp-icon {
      margin-right: var(--default-spacing-small);
      font-size: $icon-font-size;
    }
  }

  &__message {
    @include body1;
    @include regular-14;
    color: var(--black);
    line-height: 1.5;
    margin-bottom: var(--default-spacing);
    max-width: $max-width;
  }
}
