@import "../../style/index.scss";

.blueprint-graph {
  width: 100%;
  height: 100%;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--default-spacing);
  }

  &__body {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: var(--default-spacing);
  }

  &__side_toolbar {
    display: flex;
    flex-direction: column;
    gap: var(--default-spacing);
  }

  .reactflow-wrapper {
    flex: 1;
  }
}
