@import "../../style/index.scss";

.graph-toolbar {
  position: absolute;
  z-index: 1;
  top: var(--icon-spacing);
  left: var(--icon-spacing);

  &__divider {
    width: 1px;
    height: var(--default-button-height);
    background: var(--border-color);
  }

  .search-field {
    background: var(--gray-full);
  }
}
