@import "../../style/index.scss";

.model-organizer-toolbar {
  &__divider {
    width: 1px;
    height: var(--default-button-height);
    background: var(--border-color);
  }

  .search-field {
    background: var(--gray-full);
  }
}
