@import "../../style/index.scss";

.catalog-graph {
  width: 100%;
  height: 100%;

  &__container {
    position: relative;
    width: calc(100% - var(--default-spacing) * 2);
    height: calc(100% - var(--default-spacing) * 2);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: var(--default-spacing);
    border: var(--border-color) 1px solid;
    margin: var(--default-spacing);
    z-index: 0;
  }

  &__body {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: var(--default-spacing);
  }

  &__side_toolbar {
    display: flex;
    z-index: 1;
    bottom: var(--icon-spacing);
    left: var(--icon-spacing);

    flex-direction: column;
    gap: var(--default-spacing);
    position: absolute;
  }

  .reactflow-wrapper {
    flex: 1;
  }
}
