@import "../style/index.scss";

.services-page__list__item {
  display: flex;
  flex-direction: column;
  gap: var(--default-spacing-small);
  padding: var(--large-spacing);
  background-color: var(--gray-80);
  border-radius: var(--default-border-radius);
  border-color: var(--gray-70);
  border-width: 1px;

  &__header {
    display: flex;

    &__title {
      color: var(--gray-base);
      font-weight: 600;
      font-size: 14px;
    }
  }

  &__description {
    @include body2;
    color: var(--gray-20);
  }
}
