@import "./colors.css";

.applications {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: calc(100% - var(--mdc-top-bar-adjust));
}

.applications h1 {
  text-align: center;
  margin: 43px 0;
  font-size: 2.6875em;
  font-weight: normal;
}

.applications .previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 34px 34px;
}

.applications .previews .app-preview,
.applications .previews .create-new-app {
  width: 327px;
  height: 226px;
  margin-right: 22px;
  margin-top: 22px;
  border-radius: 5px;
  padding: 22px 17px;
  box-sizing: border-box;
}

.applications .previews .create-new-app {
  padding: 72px 54px 78px;
  background-color: white;
  color: var(--primary);
  border: 1px dashed var(--primary);
  font-size: 1.625em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.applications .previews .create-new-app .material-icons {
  display: block;
  font-size: 1.5em;
}

.applications .previews > a {
  color: inherit;
  text-decoration: none;
}

.applications .previews .app-preview {
  border-top: 10px solid black;
  background: white;
  box-sizing: border-box;
}

.applications .previews .app-preview header {
  display: flex;
  align-items: center;
}

.applications .previews .app-preview .icon {
  width: 55px;
  height: 55px;
  background: black;
  color: white;
  border-radius: 5px;
  display: inline-block;
  margin-right: 16px;
}

.applications .previews .app-preview h2 {
  font-size: 2em;
}

.applications .previews .app-preview footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
