@import "./style/css-variables.css";
@import "./style/index.scss";

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--surface);
  font-size: var(--normal-font-size);
}

:root {
  --mdc-typography-button-text-transform: none;
  --mdc-typography-button-font-size: 0.75rem;
  --mdc-typography-button-line-height: 1.125rem;
  --mdc-top-bar-adjust: 50px;
}

#root {
  height: 100vh;
  overflow-y: hidden;
}

.mdc-top-app-bar a {
  color: inherit;
  text-decoration: none;
}

div.mdc-top-app-bar--fixed-adjust {
  padding-top: var(--mdc-top-bar-adjust);
}

h1 {
  @include pageTitle;
}

h2 {
  @include sectionTitle;
}

h3 {
  @include title1;
}

h4 {
  @include headline-description;
}

.text-medium {
  font-weight: 500;
}

.text-muted {
  color: var(--black80);
  font-size: 10px;
}

button.mdc-button.mdc-button--unelevated {
  background-color: var(--white);
  color: var(--primary);
  border: $border-black10;
  border-radius: var(--default-button-radius);
  height: var(--default-button-height);
  margin: 0 5px;
}
