@import "./Style/cssVariables.css";
@import "./Style/parameters.scss";

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--surface);
  font-size: var(--normal-font-size);
}

:root {
  --mdc-typography-button-text-transform: none;
  --mdc-typography-button-font-size: 0.75rem;
  --mdc-typography-button-line-height: 1.125rem;
  --mdc-top-bar-adjust: 50px;
}

#root {
  height: 100vh;
  overflow-y: hidden;
}

.mdc-top-app-bar a {
  color: inherit;
  text-decoration: none;
}

div.mdc-top-app-bar--fixed-adjust {
  padding-top: var(--mdc-top-bar-adjust);
}

input,
textarea,
select {
  color: var(--black60);

  &:hover {
    border: 1px solid var(--primary) !important;
    transition: border 0.2s ease-in, color 0.2s ease-in;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--primary) !important;
    transition: border 0.2s ease-in, color 0.2s ease-in;
    color: var(--black100);
  }
}

h1 {
  @include pageTitle;
}

h2 {
  @include secondaryTitle;
}

.text-medium {
  font-weight: 500;
}

.text-muted {
  color: var(--black80);
  font-size: 10px;
}

button.mdc-button.mdc-button--unelevated {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--black10);
  border-radius: var(--default-button-radius);
  height: var(--default-button-height);
  margin: 0 5px;
}
