@import "./Style/parameters.css";

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--surface);
  font-size: 16px;
}

:root {
  --mdc-typography-button-text-transform: none;
  --mdc-typography-button-font-size: 0.75rem;
  --mdc-typography-button-line-height: 1.125rem;
  --mdc-top-bar-adjust: 50px;
}

#root {
  height: 100vh;
  overflow-y: hidden;
}

.mdc-top-app-bar a {
  color: inherit;
  text-decoration: none;
}

div.mdc-top-app-bar--fixed-adjust {
  padding-top: var(--mdc-top-bar-adjust);
}
