@import "./colors.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e3e4ea;
  font-size: 16px;
}

:root {
  --mdc-typography-button-text-transform: none;
  --mdc-typography-button-font-size: 0.75rem;
  --mdc-typography-button-line-height: 1.125rem;
  --mdc-top-bar-adjust: 64px;
}
