.promo-banner {
  display: flex;
  align-items: center;
  width: 924px;
  height: 300px;
  background-size: cover;
  margin-bottom: 40px;
  border: 3px solid var(--black100);
  box-shadow: 0px 36px 38px -19px rgba(9, 11, 20, 0.7);
  border-radius: 8px;
}
