@import "../style/index.scss";

.purchase-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #22273c;

  &__layout {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #373d57;
    position: fixed;
    display: block;
    background-color: var(--gray-90);
    z-index: 1000;
    &__btn {
      margin: 13px 0px 0px 15px;
    }
  }

  &__header {
    @include pageTitle;
    //TODO: Remove overrides after design system alignment
    font-weight: 600;
    margin-top: 120px;
    margin-bottom: var(--double-spacing);
  }

  .workspace-list {
    margin-bottom: var(--header-spacing);
    margin-top: 10px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: var(--header-spacing) 0;
    gap: var(--double-spacing);
    background: #15192c;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--gray-base);
      gap: var(--default-spacing-small);

      &__header {
        @include pageTitle;
        //TODO: Remove overrides after design system alignment
        font-weight: 600;
      }

      &__description {
        @include body1;
        //TODO: Remove overrides after design system alignment
        color: var(--gray-base);
        font-size: 14px;
      }
    }

    &_pro_btn {
      color: var(--static-white);
    }

    &_pro_btn:hover {
      background-color: var(--dark-purple);
      border-color: var(--dark-purple);
    }
  }

  &__footer {
    margin: 80px 64px 0;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;

    border-top: 1px solid var(--gray-80);

    &__copyright {
      color: var(--gray-20);
    }

    &__links {
      display: flex;
      gap: var(--double-spacing);
      //TODO: Remove overrides after design system alignment
      size: 14px;
      text-decoration-line: underline;
    }
  }

  .stigg-paywall-plans-layout {
    width: 924px;
  }

  .stigg-plan-header {
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 0;
  }

  .stigg-paywall-plan-button-layout {
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0;
  }
  .stigg-paywall-plan-button {
    background-color: #7950ed;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 12px;
    height: 28px;
    min-height: auto;
  }

  .stigg-paywall-plan-button-text {
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 12px;
  }

  .stigg-plan-offering-container {
    border-radius: 8px;
    border: 1px solid #373d57;
    max-width: 100%;
    min-width: 1px;
    padding-top: 16px;
    box-sizing: content-box;
    flex: 1;
  }

  .stigg-plan-offering-container * {
    box-sizing: content-box;
  }
  .stigg-plan-amplication-free {
    border-top: 10px solid #a787ff;
  }

  .stigg-plan-amplication-pro {
    border-top: 10px solid #20a4f3;
  }

  .stigg-plan-amplication-enterprise {
    border-top: 10px solid #31c587;
  }

  .stigg-header-wrapper {
    margin: 0 -24px;
    padding: 0 24px 24px 24px;
    border-bottom: 1px solid #373d57;

    > div:first-of-type:not(.stigg-paywall-plan-button-layout) {
      height: 0px !important;
    }
  }

  .stigg-plan-amplication-free.stigg-current-plan .stigg-plan-header::before {
    color: #a787ff;
  }

  .stigg-plan-amplication-pro.stigg-current-plan .stigg-plan-header::before {
    color: #20a4f3;
  }

  .stigg-plan-amplication-enterprise.stigg-current-plan
    .stigg-plan-header::before {
    color: #31c587;
  }

  .stigg-plan-offering-container .stigg-plan-header::before {
    display: block;
    content: "";
    height: 18px;
    margin-bottom: 8px;
  }

  .stigg-current-plan {
    .stigg-plan-header::before {
      display: block;
      content: "Current plan";
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      color: #a787ff;
      margin-left: -4px;
    }

    &:not(.stigg-plan-amplication-enterprise) .stigg-paywall-plan-button {
      visibility: hidden;
    }
  }

  .stigg-price-text {
    order: 1;
    font-size: 40px;
    margin-top: 4px !important;
  }

  .stigg-price-billing-period-text {
    order: 2;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #a3a8b8;
  }

  .stigg-price-billing-period-text::first-letter {
    text-transform: uppercase;
  }

  .stigg-price-text span[class*="PriceUnitSpan"] {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #a3a8b8;
    margin-left: 0px;
  }

  .stigg-plan-header-divider {
    display: none;
  }

  .stigg-plan-entitlements-container {
    gap: 2px;
    width: 100%;
    margin: 0 -24px 60px -24px;
    padding: 0 24px;
  }

  .stigg-plan-description,
  .stigg-plan-entitlements-title,
  .stigg-entitlement-name {
    color: white;
    font-family: Poppins, sans-serif;
    line-height: 18px;
  }

  .stigg-plan-entitlements-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    border-bottom: 1px solid #373d57;
    margin: 0 -24px 12px -24px;
    padding: 12px 24px;
  }

  .stigg-plan-description,
  .stigg-entitlement-name {
    font-weight: 300;
  }

  .stigg-plan-amplication-free
    .stigg-entitlement-row-container:nth-child(-n + 8)
    .stigg-entitlement-row-icon {
    display: block;
  }

  .stigg-plan-amplication-free .stigg-entitlement-row-container:nth-child(8) {
    border-bottom: 1px solid #373d57;
    margin: 0 -24px 12px -24px;
    padding: 0 24px 12px 24px;
  }

  .stigg-entitlement-row-container:last-child {
    border-top: 1px solid #373d57;
    border-bottom: 1px solid #373d57;
    margin: 12px -24px 12px -24px;
    padding: 12px 24px 12px 24px;
  }

  .stigg-entitlement-row-icon {
    display: none;
    transform: scale(0.55);
    margin-right: 8px;
  }

  .stigg-plan-amplication-free .stigg-plan-entitlements-title {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    border-bottom: none;
    padding-bottom: 4px;
    margin-bottom: 0;
  }

  .stigg-entitlement-row-icon path {
    fill: #a787ff;
  }
}

.stigg-skeleton-loader {
  &-billing-period {
    display: none;
  }
  &-plans-container > div {
    max-width: 244px;
    min-width: 244px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #15192c;
    border: 1px solid #373d57;
  }
}
