@import "../../style/index.scss";

$header-max-width: 100px;
$header-height: 40px;

.amp-data-grid {
  .amp-data-grid__toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--form-field-spacing);

    > * {
      margin-left: var(--default-spacing);
    }

    .search-field {
      transition: width 0.2s ease-in;
      width: var(--form-field-normal);
    }

    @media only screen and (min-width: $breakpoint-large-desktop) {
      .search-field {
        width: var(--form-field-long);
      }
    }

    h2,
    h1 {
      white-space: nowrap;
      margin-bottom: 0;
      padding-right: var(--large-spacing);
      margin-left: 0;
    }
    .stretch-tools {
      flex: 1;
    }
  }

  .amp-data-grid__list {
    margin-bottom: var(--default-spacing);

    .mdc-data-table {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: var(--form-elements-border-radius);
      overflow: auto;
      @include scrollbars(10px, var(--black60), transparent);

      table {
        table-layout: auto;

        th {
          @include columnHeader;
          padding-left: var(--default-spacing);
          padding-right: var(--default-spacing);
          height: $header-height;
          white-space: nowrap;
          text-overflow: unset;
          vertical-align: top;
          overflow: hidden;

          i.sort-icon {
            vertical-align: top;
            font-size: 20px;
          }
          .rmwc-data-table__sort-icon {
            display: none;
          }
        }
      }

      .amp-data-grid-item {
        border-collapse: collapse;
        border: none;
        cursor: pointer;
        height: calc(var(--grid-row-height) + var(--grid-row-gap));

        &__icon {
          color: var(--black40);
          padding-right: var(--default-spacing);
          vertical-align: top;
        }

        &:not(.mdc-data-table__row--selected):hover {
          background-color: transparent;

          td:before {
            // background-color: var(--black10);
            box-shadow: var(--hover-box-shadow);
          }

          td:first-child {
            &:before {
              border-radius: 0;
            }

            &:after {
              @include activeItemIndicator;
              height: calc(100% - 2px - var(--grid-row-gap));
              top: calc(var(--grid-row-gap) / 2);
            }
          }
        }
      }

      td.rmwc-data-table__cell {
        .amp-data-grid-item--navigate {
          text-decoration: none;
          color: var(--black100);
          &:active,
          &:hover,
          &:visited {
            text-decoration: none;
            color: var(--black100);
          }
        }

        .amp-data-grid-item--link {
          text-decoration: none;
          color: var(--black100);

          &:active,
          &:hover,
          &:visited {
            text-decoration: underline;
            color: var(--black100);
          }
        }

        color: var(--black100);
        height: 40px;
        font-size: var(--normal-font-size);
        padding-left: var(--default-spacing);
        padding-right: var(--default-spacing);

        &:before {
          background-color: var(--white);
          content: "";
          position: absolute;
          width: 100%;
          height: calc(100% - 2px - var(--grid-row-gap));
          top: calc(var(--grid-row-gap) / 2);
          left: 0;
          z-index: -1;
        }

        &:first-child {
          &:before {
            border-radius: var(--form-elements-border-radius) 0 0
              var(--form-elements-border-radius);
          }
        }

        &:last-child {
          &:before {
            border-radius: 0 var(--form-elements-border-radius)
              var(--form-elements-border-radius) 0;
            width: calc(100% - 1px);
          }
        }
      }
    }
  }

  td.min-width,
  th.min-width {
    width: 1%;
    text-align: center;
  }

  .space-after {
    margin-right: var(--default-spacing-small);
  }

  .space-before {
    margin-left: var(--default-spacing-small);
  }

  .amp-data-grid__footer {
    margin-top: var(--large-spacing);
    background-color: var(--white);
    border: $border-black10;
    padding: 5px;
    border-radius: var(--form-elements-border-radius);
  }
}
