@import "../../style/index.scss";

$max-width: 700px;

.create-message-broker-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--black100);

  &__generationSettings {
    width: 200px;
    display: flex;
    flex-direction: column;

    p {
      font-size: 14px;
    }
  }

  &__generation_setting_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 48px;

    label {
      margin-bottom: 4px;
    }
  }

  &__generation_setting_resource_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-field {
    margin-bottom: 18px;
  }

  .toggle-field label .input-label-value {
    font-size: var(--normal-font-size);
  }
}
