@import "../../../style/index.scss";

.breaking-the-monolith-options {
  padding: var(--double-spacing);

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__monolith_options {
    margin-top: var(--double-spacing);
  }

  &__action-button {
    margin-left: auto;
  }

  &__link {
    color: var(--theme-turquoise);
  }
}
