@import "../style/index.scss";

.module-actions-free-plan {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;

  &__feature {
    padding: 4px 16px;
    border-radius: 32px;
    gap: 4px;
    background-color: #53dbee;
    border-radius: 32px;
    color: black;
    font-size: 12px;
    display: flex;
    flex-direction: row;
  }

  &__contact-us {
    & span {
      color: #53dbee;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    text-align: center;

    & p {
      margin: 0px;
      line-height: 22px;
    }
  }

  &__image {
    margin-top: 15px;
  }
}
