@import "../style/index.scss";

.module-toggle-field {
  &__search-field {
    width: 180px;
  }
  .toggle-field {
    .MuiSwitch-root {
      .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
        background-color: #31c587;
      }
    }
  }
  &__operation-toggle {
    .toggle-field {
      border: $border-dark;
      border-radius: 20px;
      .MuiSwitch-root {
        border-radius: 8px;
        .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
          background-color: #15192c;
        }
        .MuiSwitch-switchBase:not(.Mui-checked) + .MuiSwitch-track {
          background-color: #15192c;
        }
      }
    }
  }
}
