@import "../style/index.scss";

.amp-floating-toolbar {
  width: 100%;
  height: var(--header-height);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-page-padding);
  box-sizing: border-box;
  margin-bottom: 36px;

  .app-control-toolbar {
    align-self: flex-start;
  }

  &__breadcrumbs {
    li {
      &:after {
        color: var(--black20);
      }
      a,
      a span {
        @include body2;
        @include semiBold;
        color: var(--primary);

        &:visited,
        &:active,
        &:hover {
          color: var(--primary);
        }

        &.selected {
          color: var(--black60);
        }
      }
    }
  }
}
