@import "../style/index.scss";

header.header {
  background-color: var(--black90);
  color: var(--white);
  z-index: 100;

  .header__row {
    height: var(--header-height);
  }
  .header__section {
    padding: 0;
    padding-right: 16px;
  }

  .header__logo {
    width: var(--header-height);
    max-width: var(--header-height);
    background-color: var(--primary);
    padding: 0;

    > div {
      margin: auto;
      padding: 0;
      line-height: 0;
      height: 26px;
      width: 26px;
      line-height: 26px;
    }

    .logo {
      filter: brightness(
        100
      ); /** @todo: use white svg or use a different method to control the svg fill color */
      height: 100%;
      width: 100%;
      background-size: cover;
    }
  }

  &__action-item,
  &__navigation-icon {
    color: inherit;
  }
}
