@import "../style/index.scss";

@mixin active-link {
  background-color: var(--gray-70);
  color: var(--gray-base);
  padding: var(--default-spacing-small);
}

.inner-tab-link {
  @include body2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--default-spacing-small);
  padding: var(--default-spacing-small);
  border-radius: var(--default-border-radius);
  gap: var(--user-badge-spacing);

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    @include active-link;
  }

  &.active {
    @include active-link;
  }

  &__inner-span {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
