@import "../style/index.scss";

$menu-icon-font-size: 24px;

.main-layout {
  height: calc(100%);
  display: flex;
  flex-direction: row;

  &__content {
    padding: 0;
    flex: 1;
    height: 100%;
    overflow: auto;
    @include scrollbars(10px, var(--black60), transparent);
    box-sizing: border-box;
  }
  &__side {
    height: 100%;
    width: calc(var(--menu-width) + 1px);
    background-color: var(--white);
    border-right: $border-black10;
    transition: width var(--menu-expand-animation-duration) ease-in;

    .side-nav {
      border-radius: 0;
      background-color: transparent;

      &__link {
        border-radius: 0;
        padding: 10px calc((var(--menu-width) - var(--menu-item-width)) / 2) !important ;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: none !important;
        box-sizing: border-box;
        transition: all var(--menu-expand-animation-duration) ease-in;

        &__title {
          white-space: nowrap;
          opacity: 0;
          transition: all var(--menu-expand-animation-duration) ease-in;
          @include title1;
          color: var(--black80) !important;
          width: 0%;
          padding-left: 0;
        }

        &:hover {
          background-color: transparent !important;
        }

        i {
          width: var(--menu-item-width);
          min-width: var(--menu-item-width);
          height: var(--menu-item-height);
          background-size: contain;
          transition: all var(--menu-expand-animation-duration) ease-in;
          box-sizing: border-box;
          filter: grayscale(100%);
          opacity: 0.4;
        }
        &.active:before {
          background-color: var(--primary) !important;
        }

        &.active,
        &:hover,
        &:active,
        &:focus {
          i {
            filter: none;
            opacity: 1;
          }
        }
      }
    }

    &__content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .logo-container {
        height: calc(var(--menu-width) + (var(--default-spacing)));
        width: 100%;
        overflow: hidden;

        // background-color: var(--white);
        position: relative;
        padding: var(--default-spacing);
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:before {
          content: "";
          position: absolute;
          bottom: var(--default-spacing-small);
          left: var(--default-spacing-small);
          right: var(--default-spacing-small);
          border-bottom: $border-black10;
        }

        .menu-collapse {
          button {
            color: var(--black30);
            padding: var(--default-spacing) 0;
            border: none;
            background: transparent;
            cursor: pointer;

            &:hover,
            &:active,
            &:focus {
              border: none;
              outline: none;
            }

            &:hover,
            &:active {
              color: var(--primary);
            }

            i {
              transform: rotate(0deg);
              transition: all var(--menu-expand-animation-duration) ease-in;
              font-size: $menu-icon-font-size;
            }
          }
        }

        &__logo {
          height: calc(var(--menu-width) - var(--default-spacing) * 2);
          background-size: cover;
          display: inline-block;
          opacity: 0;
          transform-origin: center;
          transform: scale(0);

          transition: all var(--menu-expand-animation-duration) ease-in;
        }
      }
      .menu-container {
        flex: 1;
        @include scrollbars(5px, var(--black60), transparent);
        overflow-y: auto;
        overflow-x: hidden;
      }
      .bottom-menu-container {
        padding-bottom: var(--default-spacing);
      }
    }

    &--expanded {
      width: var(--menu-width-expanded);
      transition: width var(--menu-expand-animation-duration) ease-out;

      .logo-container {
        &__logo {
          opacity: 1;
          transform: scale(1);
        }
      }
      .side-nav {
        &__link {
          padding-left: calc(var(--default-spacing) * 2) !important;
          &__title {
            opacity: 1;
            padding-left: var(--large-spacing);
            width: 100%;
          }
        }
      }
    }
  }
}
