@import "../style/index.scss";

$menu-icon-font-size: 16px;
$logo-font-size: 24px;
$expand-button-padding: 4px;
.main-layout {
  height: calc(100%);
  display: flex;
  flex-direction: row;

  &__content {
    position: relative;
    padding: 0;
    flex: 1;
    height: 100%;
    overflow: auto;
    @include scrollbars(10px, var(--black60), transparent);
    box-sizing: border-box;
    // max-width: calc(100vw - var(--menu-width));
  }
  &__side {
    height: 100%;
    width: calc(var(--menu-width) + 1px);
    background-color: var(--black100);
    border-right: $border-black10;
    transition: width var(--menu-expand-animation-duration) ease-in;
    overflow: visible;

    &__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: visible;

      .logo-container {
        height: calc(var(--menu-width) + (var(--default-spacing)));
        width: 100%;
        overflow: hidden;
        transition: all var(--menu-expand-animation-duration) ease-in;

        // background-color: var(--white);
        position: relative;
        padding: var(--default-spacing);
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: var(--default-spacing);
          right: var(--default-spacing);
          border-bottom: $border-white-transparent;
        }

        &__logo {
          height: calc(var(--menu-width) - var(--default-spacing) * 2);
          background-size: cover;
          width: 100%;
          display: inline-flex;
          align-items: baseline;
          justify-content: flex-start;
          i {
            font-size: $logo-font-size;
            margin-right: var(--default-spacing);
          }
          svg {
            opacity: 0;
            min-width: 101px;
            transition: all var(--menu-expand-animation-duration) ease-out;
          }
        }
      }
      .menu-collapse {
        padding: 0 var(--default-spacing);
        padding-top: var(--default-spacing);
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        button {
          color: var(--black30);
          padding: 0 $expand-button-padding;
          border: none;
          background: transparent;
          cursor: pointer;

          &:hover,
          &:active,
          &:focus {
            border: none;
            outline: none;
          }

          &:hover,
          &:active {
            color: var(--primary);
          }

          i {
            transform: rotate(0deg);
            transition: all var(--menu-expand-animation-duration) ease-in;
            font-size: $menu-icon-font-size;
          }
        }
      }
      .menu-container {
        flex: 1;
        @include scrollbars(5px, var(--black60), transparent);
        overflow-y: auto;
        overflow-x: hidden;
        overflow: visible;
        padding: var(--default-spacing) 0;
      }
      .bottom-menu-container {
        padding-bottom: var(--default-spacing);
        overflow: hidden;
        overflow: visible;
      }
    }

    &--expanded {
      width: var(--menu-width-expanded);
      transition: width var(--menu-expand-animation-duration) ease-out;
      .main-layout__side__content {
        .menu-collapse {
          i {
            transform: rotate(180deg);
          }
        }
      }

      .logo-container {
        padding-left: calc(var(--default-spacing) * 2) !important;
        svg {
          opacity: 1;
        }
      }
      .amp-menu-item {
        padding-left: calc(var(--default-spacing) * 2) !important;
        &__title {
          opacity: 1;
          padding-left: var(--large-spacing);
          width: auto;
        }
        &__tooltip {
          &:hover:before,
          &:hover:after {
            display: none;
          }
        }
      }
    }
  }

  &--mobile {
    .main-layout__side {
      &.mdc-drawer {
        background-color: transparent;
        box-shadow: none;
        border-right: none;
        position: absolute;

        .logo-container {
          &:before {
            display: none;
          }
        }

        .menu-collapse,
        .menu-container,
        .bottom-menu-container {
          display: none;
        }
      }
    }
  }
}
