@import "../style/index.scss";
$title-margin-top: 20px;
$content-width: 70%;

.mobile-message {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--default-spacing);
  }

  &__title {
    @include sectionTitle;
    @include semiBold;
    width: $content-width;
    text-align: center;
    margin-top: $title-margin-top;
    color: var(--black100);
  }

  &__message {
    @include sectionTitle;
    width: $content-width;
    text-align: center;
    color: var(--black60);
  }
}
