@import "../style/index.scss";

.navigation-tabs {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  &__tab {
    padding: 0 var(--large-spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    position: relative;

    &:not(&--active):not(:last-child) {
      &:before {
        content: "";
        position: absolute;
        top: var(--default-spacing-small);
        bottom: var(--default-spacing-small);
        right: var(--default-spacing-small);
        width: 1px;
        background: var(--black10);
      }
    }

    &--active {
      background-color: var(--black2);
    }
  }
}
