@import "../style/parameters.scss";

.amp-page-content {
  display: flex;
  flex-direction: row;
  height: 100%;

  main {
    flex: 1;
    padding: var(--default-page-padding);
    position: relative;
  }

  &--with-floating-bar {
    main {
      padding-top: calc(var(--header-height) + var(--header-spacing));
    }
  }
}
