@import "../style/index.scss";

$tabs-width: 300px;

.amp-page-layout {
  display: flex;
  flex: 1;
  background: var(--page-content-background);
  box-sizing: border-box;
  flex-direction: column;
  overflow: auto;

  &__header {
    border-bottom: $border-dark;
  }

  &__body {
    flex: 1;
  }
}
