@import "../style/index.scss";

.amp-page-content {
  display: flex;
  flex-direction: row;
  height: 100%;

  main {
    flex: 1;
    padding: var(--default-page-padding);
    position: relative;
    max-width: $page-content-max-width;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    @media only screen and (max-width: $page-content-min-width) {
      min-width: calc(#{$page-content-min-width} - var(--menu-width));
    }
  }
  .log-container {
    width: 50%;
  }

  &--with-floating-bar {
    main {
      padding-top: calc(var(--header-height) + var(--header-spacing));
    }
  }
}
