@import "../style/index.scss";

$tabs-width: 300px;

.amp-page-content {
  display: flex;
  flex: 1;
  gap: var(--large-spacing);
  padding: var(--large-spacing);
  padding-right: 0;
  background: var(--page-content-background);
  box-sizing: border-box;
  overflow: hidden;

  &__tabs {
    display: flex;
    flex-direction: column;
    width: $tabs-width;
    background: var(--page-content-tab-background);
    border-radius: var(--default-border-radius);
    border: $border-black10;
    padding: var(--large-spacing);
    box-sizing: border-box;
    overflow-y: auto;
    @include scrollbars(16px, var(--black60), transparent);

    .sub-list {
      margin-left: var(--triple-spacing);
    }
  }

  &__main {
    @include scrollbars(16px, var(--black60), transparent);
    padding-right: var(--large-spacing);
    flex: 1;
    overflow: auto;
    position: relative;
    box-sizing: border-box;

    @media only screen and (max-width: $page-content-min-width) {
      min-width: calc(#{$page-content-min-width} - var(--menu-width));
    }
  }
}
