@import "../style/index.scss";

.side-bar {
  height: 100%;

  & &__inner-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  & &__wrapper {
    width: var(--side-bar-width);
    min-width: var(--side-bar-min-width);
    border-left: $border-black10;
    overflow: hidden;
    height: 100%;
    z-index: $side-bar-z-index;
    background-color: var(--surface);

    &--large {
      width: var(--side-bar-large-width);
    }

    &:hover,
    &:focus,
    &:active {
      &:not(.mdc-drawer--closing) {
        & + .mdc-drawer-scrim {
          opacity: 1;
        }
      }
    }
  }

  & &__header {
    padding: 0 var(--large-spacing);
    border-bottom: $border-black10;
    height: 56px;
    min-height: 56px;
    @include flexFullRow;
    justify-content: flex-start;

    &__back {
      display: inline-block;
    }

    h3 {
      display: inline-block;
    }
  }

  .mdc-drawer__content {
    padding: 0 var(--large-spacing);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    hr {
      margin: var(--large-spacing) calc(var(--large-spacing) * -1);
      height: 1px;
      border: 0;
      border-top: $border-black10;
    }
  }

  .mdc-drawer-scrim {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s ease-in;
  }
  .mdc-tab-bar {
    .mdc-tab-indicator {
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        border-top: $border-black10;
        margin-bottom: 2px;
      }
    }

    .mdc-tab__text-label {
      color: var(--black60);
    }
    .mdc-tab--active {
      .mdc-tab__text-label {
        color: var(--black100);
      }
    }
  }
}
