@import "../Style/parameters.scss";

.side-bar {
  .mdc-drawer {
    width: 340px;
    border-left: 1px solid var(--mid-gray);
    position: absolute;
    right: 0;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    overflow: auto;

    &__header,
    &__content {
      padding: 0 var(--large-spacing);

      hr {
        margin: var(--large-spacing) calc(var(--large-spacing) * -1);
        height: 1px;
        border: 0;
        border-top: 1px solid var(--black10);
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .mdc-tab-bar {
      .mdc-tab-indicator {
        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0px;
          border-top: 1px solid var(--black10);
          margin-bottom: 2px;
        }
      }

      .mdc-tab__text-label {
        color: var(--black60);
      }
      .mdc-tab--active {
        .mdc-tab__text-label {
          color: var(--black100);
        }
      }
    }
  }
}
