@import "../Style/parameters.css";

.side-bar.mdc-drawer {
  width: 340px;
  border-left: 1px solid var(--mid-gray);
  position: absolute;
  right: 0;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
}
