@import "../style/index.scss";

$stripe-top-height: 120px;
$stripe-top-height-small: 90px;
$stripe-side-width: 550px;
$stripe-side-padding: 60px;
$form-min-width: 550px;
$form-mobile-max-width: 400px;
$panel-min-width: 400px;
$panel-padding: 64px 48px;
$button-padding: 24px;

$title-font-size: 30px;

.welcome-page {
  width: 100%;
  height: 100%;
  display: block;

  overflow: auto;

  &__stripe {
    box-sizing: border-box;
    height: $stripe-top-height-small;
    background-color: var(--black100);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--double-spacing);

    &__open-source-message {
      display: none;
    }

    &__title,
    &__subtitle {
      display: none;
      font-size: $title-font-size;
      @include semiBold;
      color: var(--white);
      padding-top: calc(var(--default-spacing) * 3);
      padding-bottom: var(--double-spacing);
    }

    &__subtitle {
      @include fontMono;
      color: var(--secondary);
      padding-top: 0;
      padding-bottom: calc(var(--default-spacing) * 3);
    }
  }

  .open-source-message {
    color: var(--black30);

    a {
      color: var(--secondary);
      text-decoration: underline;
    }
  }

  &__form {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    margin: auto;
    margin-top: var(--triple-spacing);
    max-width: $form-mobile-max-width;

    &__open-source-message {
      display: none;
    }
  }

  &__panel {
    box-sizing: border-box;
    text-align: center;
    padding: $panel-padding !important;

    label {
      text-align: left;
    }

    .amp-button {
      display: inline-block;
      margin-top: $button-padding;
      width: 100%;
    }
  }

  @media only screen and (min-width: $breakpoint-phone) {
    &__stripe {
      height: $stripe-top-height;
    }
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: top;
    background-position-x: right;

    &__stripe {
      width: $stripe-side-width;
      background-position: bottom left;
      height: 100vh;
      padding: $stripe-side-padding;
      flex-direction: column;
      align-items: flex-start;

      &__open-source-message {
        display: block;
      }

      &__title,
      &__subtitle {
        display: block;
      }

      .open-source-message {
        display: block;
      }
    }
    &__form {
      min-width: $form-min-width;

      &__open-source-message {
        display: none;
      }
    }

    &__panel {
      width: $panel-min-width;
      padding: $panel-padding !important;
    }
  }
}
