@import "../../style/index.scss";

$modal-max-width: 50vw;
$modal-top-position: 20vh;

.amp-dialog {
  box-shadow: none;
  border-radius: var(--default-border-radius);
  border: $border-black10;
  width: max-content !important;
  max-width: $modal-max-width;
  min-width: var(--modal-min-width);
  margin-top: $modal-top-position !important;
  margin-bottom: 0 !important;
  background-color: var(--black2) !important;
  padding: var(--double-spacing);

  //mobile
  @media only screen and (max-width: $breakpoint-tablet) {
    min-width: auto;
    max-width: 100%;
  }

  // hide the button added by primer
  button:not(.amp-button) {
    display: none;
  }

  & &__header {
    @include semiBold;
    color: var(--black100);
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;

    h3 {
      margin: 0;
      font-weight: 600;
      font-size: var(--title3-font-size);
    }
  }
  & &__body {
    background-color: transparent;
    box-sizing: border-box;
  }

  &--warning {
    border-top: 3px solid var(--warning-default);
  }

  &--success {
    border-top: 3px solid var(positive-default);
  }

  &--error {
    border-top: 3px solid var(--negative);
  }
}
