@import "../style/index.scss";

.service-message-broker-connection {
  &__row {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--default-spacing);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    @include body1;
    color: var(--black100);
  }
  &__description {
    @include regular-14;
    color: var(--black100);
  }
}
