@import "../../style/index.scss";

.break-the-monolith {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  &__loader {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: var(--page-content-width-default);
  }

  &__services {
    padding: var(--double-spacing) 0;
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;

    &__service {
      overflow-y: auto;
      min-width: 25%;
      max-height: 200px;

      &__header {
        overflow: hidden;
      }
    }
  }

  &__continue_button {
    align-self: flex-end;
  }
}
