@import "../../style/index.scss";

.break-the-monolith-overview-page {
  padding: var(--double-spacing);

  &__instructions-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--double-spacing) 0;
    background-color: var(--gray-full);
    width: 100%;
    border-radius: var(--default-spacing-small);
    border: 1px solid var(--gray-70);

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--default-spacing-small);
      margin-bottom: var(--medium-spacing);
    }
  }
}
