@import "../../../style/index.scss";

$border-width: 2px;
$border-top-width: 6px;
$group-box-shadow: 0px 18px 28px -8px rgba(9, 11, 20, 0.6);
$border-radius: 12px;

.catalog-graph-group-node {
  background-color: var(--gray-90);
  width: 100%;
  height: 100%;
  border: $border-width solid var(--gray-40);
  border-top: $border-top-width solid var(--secondary);
  border-radius: $border-radius;
  padding: var(--default-spacing);
  box-sizing: border-box;
  z-index: -1;
  box-shadow: $group-box-shadow;

  &--highlight {
    .amp-text {
      color: var(--theme-orange) !important;
    }
  }

  &.drop-target {
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-color: var(--theme-turquoise);
    border-right-color: var(--theme-turquoise);
    border-bottom-color: var(--theme-turquoise);
  }
}
