@import "../../../style/index.scss";

$border-width: 2px;
$border-top-width: 6px;

.catalog-graph-group-node {
  background-color: var(--gray-80);
  width: 100%;
  height: 100%;
  border: $border-width solid var(--border-color);
  border-top: $border-top-width solid var(--secondary);
  border-radius: var(--default-button-radius);
  padding: var(--default-spacing);
  box-sizing: border-box;
  z-index: -1;

  &--highlight {
    .amp-text {
      color: var(--theme-orange) !important;
    }
  }

  &.drop-target {
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-color: var(--theme-turquoise);
    border-right-color: var(--theme-turquoise);
    border-bottom-color: var(--theme-turquoise);
  }
}
