
name: Generated App E2E
on: workflow_dispatch

jobs:
  e2e:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - name: Fetch master
        run: git fetch --no-tags --prune --depth=1 origin +refs/heads/master:refs/remotes/origin/master
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: Update npm
        run: npm i -g npm@7.3.0
      - run: npm ci
      - name: Install packages' dependencies
        run: npm run bootstrap -- --loglevel verbose
      - name: Build Data Service Generator
        run: npm run build -- --scope @amplication/data-service-generator
      - name: Generate test data service
        run: npm run generate-test-data-service
      - name: Install test data service's dependencies
        working-directory: packages/amplication-data-service-generator/generated/server
        run: npm ci && npm run prisma:generate
      - name: Run Data Service Generator E2E test
        run: npm run test:e2e -- --scope @amplication/data-service-generator
