# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        direcotry: ["amplication-server", "amplication-client"]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: npm ci
        working-directory: ${{matrix.directory}}
      - run: npm run check-format
        working-directory: ${{matrix.directory}}
      - run: npm run build
        working-directory: ${{matrix.directory}}
