name: Release
run-name: Release ${{ github.event.workflow_run.head_branch }} by workflow ${{ github.event.workflow_run.id }}
concurrency: ${{ github.event.workflow_run.head_branch }}

on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed
    branches:
      - master
      - next

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  NX_BRANCH: ${{ github.event.workflow_run.head_branch }}
  BRANCH: ${{ github.event.workflow_run.head_branch }}

jobs:
  nx:
    name: Nx Affected
    runs-on: ubuntu-20.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    outputs:
      affected: ${{ steps.configure-nx.outputs.affected }}
    steps:
      - name: Download artifact
        id: download-artifact
        uses: actions/github-script@v6
        with:
          script: |
            let allArtifacts = await github.rest.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: context.payload.workflow_run.id,
            });
            let matchArtifact = allArtifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "affected-projects"
            })[0];
            let download = await github.rest.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            let fs = require('fs');
            fs.writeFileSync(`${process.env.GITHUB_WORKSPACE}/affected-projects.zip`, Buffer.from(download.data));

      - name: Configure Nx Affected Projects
        id: configure-nx
        run: |
          unzip affected-projects.zip
          cat ./affected-projects >> $GITHUB_OUTPUT

      - name: Debug
        run: |
          echo github.event.workflow_run.conclusion ${{ github.event.workflow_run.conclusion }}
          echo github.event.workflow_run.event ${{ github.event.workflow_run.event }}
          echo NX_BRANCH $NX_BRANCH
          echo BRANCH $BRANCH
          echo AFFECTED_PROJECTS ${{ steps.configure-nx.outputs.affected }}

  dockerize:
    needs: nx
    if: ${{ needs.nx.outputs.affected != '[]' && needs.nx.outputs.affected != ''}}
    name: Dockerize
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        project: ${{ fromJson(needs.nx.outputs.affected) }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_branch }}
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version-file: "package.json"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Cache global node modules
        id: cache-node-modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}

      - name: Cache other node modules
        id: cache-other-node-modules
        uses: actions/cache@v3
        env:
          cache-name: cache-other-node-modules
        with:
          path: |
            libs/data-service-generator/node_modules
            libs/util/code-gen-utils/node_modules
            packages/amplication-cli/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./**/package-lock.json') }}

      - name: Install Dependencies
        if: ${{ steps.cache-node-modules.outputs.cache-hit != 'true' || steps.cache-other-node-modules.outputs.cache-hit != 'true' }}
        run: npm ci

      - name: Configure AWS Credentials (operations account)
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR (operations account)
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registries: "439403303254"

      # https://github.com/docker/metadata-action
      - name: Docker Metadata
        uses: docker/metadata-action@v4
        id: meta
        with:
          images: "439403303254.dkr.ecr.us-east-1.amazonaws.com/${{ matrix.project }}"
          tags: |
            type=sha,prefix=sha-
            type=ref,event=pr,prefix=pr-
            type=ref,event=tag,prefix=tag-
            type=raw,value=${{ github.run_id }},prefix=gh-
            type=raw,value=${{ env.BRANCH }}
            type=raw,value=latest,enable=${{ env.BRANCH == 'master' }}

      # https://www.npmjs.com/package/@nx-tools/nx-docker
      - name: Dockerize
        run: npx nx run-many --target=docker:build --projects=${{ matrix.project }}
        env:
          INPUT_TAGS: ${{ steps.meta.outputs.tags }}
          INPUT_PUSH: true

  configure:
    name: Configure deployment target environment
    runs-on: ubuntu-20.04
    outputs:
      environment: ${{ steps.environment-identifier.outputs.environment }}
    steps:
      - id: environment-identifier
        run: |
          if [[ "${{ env.BRANCH }}" == "next" ]];
          then
            echo environment="sandbox" >> $GITHUB_OUTPUT
          elif [[ "${{ env.BRANCH }}" == "master" ]];
          then
            echo environment="staging" >> $GITHUB_OUTPUT
          fi;

  deploy:
    name: Deployment
    needs: [nx, dockerize, configure]
    strategy:
      matrix:
        project: ${{ fromJson(needs.nx.outputs.affected) }}
    uses: ./.github/workflows/deployment.template.yml
    with:
      environment-name: ${{ needs.configure.outputs.environment }}
      project-name: ${{ matrix.project }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
