name: Security

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
      - "**/*.md"
      - ".all-contributorsrc"
  push:
    branches: 
      - master
    paths-ignore:
      - "**/*.md"
      - ".all-contributorsrc"

jobs:
  fs-scan:
    name: Vulnerability scanning - File system
    uses: ./.github/workflows/vulnerability-scan.template.yaml
    with:
      scan-type: 'fs'
      format: 'sarif'
      exit-code: 0
      publish: true

  config-scan:
    name: Vulnerability scanning - Config
    uses: ./.github/workflows/vulnerability-scan.template.yaml
    with:
      scan-type: 'config'
      format: 'sarif'
      exit-code: 0
      publish: true