name: Setup script test

on:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node: [14.x,16.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node}}
      - name: Update npm
        run: npm i -g npm@7.3.0
      - run: npm ci
      - run: npm run setup:dev
      - run: cd ./packages/amplication-server && npm run test
