@import "../style/index.scss";

.module-dto-property-form {
  flex: 1;
  width: 100%;

  .toggle-field {
    margin-bottom: 0;
  }

  .amp-name-field,
  .select-field,
  .text-input {
    flex: 1;

    max-width: var(--form-field-long);
  }
}
